html {
	font-family: $fontPrimary;
	font-size: 14px;
	line-height: $lineHeight;
	color: $colorText;
	@media ($mdUp) {
		font-size: $fontSize;
	}
}

// Headings
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: $fontSecondary;
	font-weight: normal;
	line-height: 1.2;
	margin: 1.5em 0 0.5em;
	letter-spacing: -0.02em;
}
h1,
.h1,
h2,
.h2 {
	font-size: 24px;
	line-height: (36/24);
	@media ($mdUp) {
		font-size: 32px;
	}
}
h3,
.h3 {
	font-size: 20px;
	@media ($mdUp) {
		font-size: 24px;
	}
}
h4,
.h4 {
	font-size: 16px;
	@media ($mdUp) {
		font-size: 18px;
	}
}
h5,
.h5 {
	font-size: 14px;
}
h6,
.h6 {
	font-size: 12px;
}

// Paragraph
p {
	margin: 0 0 $typoSpaceVertical;
	letter-spacing: -0.05em;
	font-weight: 500;
	.u-bg-inverse & {
		color: #fff;
	}
}
hr {
	border: solid $colorBd;
	border-width: 1px 0 0;
	margin: $typoSpaceVertical 0;
	height: 1px;
	overflow: hidden;
}

// Blockquote
blockquote {
	border-left: 2px solid $colorBd;
	margin: 0 0 $typoSpaceVertical;
	padding: 0;
	p {
		margin-bottom: 0;
		padding-left: 10px;
	}
}

// Links
a {
	color: $colorLink;
	text-decoration: none;
	transition: color $t;
	-webkit-tap-highlight-color: transparent;
	font-weight: bold;
	.hoverevents &:hover {
		color: $colorHover;
	}
}

strong {
	font-weight: 700;
}

// Lists
ul,
ol,
dl {
	margin: 0 0 $typoSpaceVertical;
	list-style: none;
	padding: 0;
}
li {
	padding: 0 0 0 32px;
	margin: 0 0 ($typoSpaceVertical / 4);
}
ul {
	li {
		background-image: url($svgBullet);
		background-position: 5px 0.45em;
		background-repeat: no-repeat;
		background-size: 0.6em 0.6em;
	}
}
ol {
	counter-reset: item;
	li {
		position: relative;
		&::before {
			content: counter(item) ".";
			counter-increment: item;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	ol {
		li {
			&::before {
				content: counter(item, lower-alpha) ".";
			}
		}
	}
}
dt {
	font-weight: bold;
	margin: 0;
}
dd {
	margin: 0 0 ($typoSpaceVertical / 2);
	padding: 0;
}

// Tables
table {
	width: 100%;
	clear: both;
	margin: 0 0 $typoSpaceVertical;
	empty-cells: show;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid $colorBd;
}
caption {
	font-weight: bold;
	text-align: left;
	padding: 0 0 10px;
	caption-side: top;
}
td,
th {
	vertical-align: top;
	padding: 15px 20px;
	border: 1px solid $colorBd;
}
th {
	font-weight: bold;
	text-align: left;
}
thead th {
	background: $colorBg;
}

address {
	font-style: normal;
}

// Image
figure {
	margin-bottom: $typoSpaceVertical;
}
figcaption {
	margin-top: 0.5em;
}

img {
	@media ($xlDown) {
		max-width: 100%;
		height: auto;
	}
}
