// Colors
$colorPrimary: #2b2b2b;
$colorSecondary: #ff9900;

$colorBlack:$colorPrimary;
$colorWhite: #fff;
$colorRed: #f00;
$colorGreen: #080;
$colorOrange: #fa0;

$colorText: $colorBlack;
$colorBd: #ddd;
$colorBg: #eee;
$colorLink: $colorSecondary;
$colorHover: $colorPrimary;

$colorFacebook: #3b5998;
$colorTwitter: #1da1f2;
$colorGoogle: #dd4b39;
$colorYoutube: #ff0000;
$colorLinkedIn: #0077b5;
$colorInstagram: #c13584;
$colorPinterest: #bd081c;


// Font
$fontSystem: 'Playfair Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, serif;
$fontPrimary: $fontSystem;
$fontSecondary: $fontPrimary;
$fontSize: 20px;
$lineHeight: (30/20);


// Typography
$typoSpaceVertical: 1.25em;


// Grid
$gridColumns: 12;
$gridGutter: 25px;
$rowMainWidth: 1142px + (2 * $gridGutter);
$rowMainGutter: $gridGutter;


// Paths
$imgPath: map-get($paths, 'images');
$fontsPath: map-get($paths, 'fonts');


// Transitions
$t: .3s;


// SVGs
$svgBullet: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath d='M0 0h4v4H0z'/%3E%3C/svg%3E%0A";
$svgSelect: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 5'%3E%3Cpath d='M10 0L5 5 0 0'/%3E%3C/svg%3E%0A";
