// Colors
$colorPrimary: #ffb100;
$colorSecondary: #22010d;

$colorBlack: $colorPrimary;
$colorWhite: #fff;
$colorRed: #ff4646;
$colorBlue: #00baff;
$colorGreen: #1ede3b;
$colorGreenHover: #19d635;
$colorOrange: #ffaa00;

$colorText: #1c1300;
$colorBd: #ddd;
$colorBg: #fffef4;
$colorBlueBg: #f4f7ff;
$colorMintBg: #f5fffd;
$colorPurpleBg: #fff7f7;
$colorLink: $colorText;
$colorBlueHover: #2c9cdb;
$colorRedHover: #ed2c2c;
$colorHover: #f5aa00;

$colorFacebook: #3b5998;
$colorTwitter: #1da1f2;
$colorGoogle: #dd4b39;
$colorYoutube: #ff0000;
$colorLinkedIn: #0077b5;
$colorInstagram: #c13584;
$colorPinterest: #bd081c;

// Font
$fontSystem: "Spartan", sans-serif;
$fontPrimary: $fontSystem;
$fontSecondary: "Playfair Display";
$fontSize: 18px;
$lineHeight: (28/18);

// Typography
$typoSpaceVertical: 1.25em;

// Grid
$gridColumns: 12;
$gridGutter: 16px;
$rowMainWidth: 1640px + (2 * $gridGutter);
$rowMainGutter: $gridGutter;

// Sizing
$sizeXs: 16px;
$sizeSm: 32px;
$sizeMd: 64px;
$sizeLg: 80px;
$sizeXl: 112px;
$sizeXxl: 144px;

// Paths
$imgPath: map-get($paths, "images");
$fontsPath: map-get($paths, "fonts");

// Transitions
$t: 0.3s;

// SVGs
$svgBullet: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath d='M0 0h4v4H0z'/%3E%3C/svg%3E%0A";
$svgBulletGreen: "data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='50' fill='%231ede3b'/%3E%3C/svg%3E";
$svgAnchorShare: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%231ede3b' d='M10.458 18.374L7.721 21.11a2.853 2.853 0 01-3.942 0l-.892-.891a2.787 2.787 0 010-3.941l5.8-5.8a2.789 2.789 0 013.942 0l.893.892a1 1 0 001.418-1.418l-.893-.892a4.791 4.791 0 00-6.771 0l-5.8 5.8a4.787 4.787 0 000 6.77l.892.891a4.785 4.785 0 006.771 0l2.736-2.735a1 1 0 10-1.414-1.415z'/%3E%3Cpath fill='%231ede3b' d='M22.526 2.363l-.892-.892a4.8 4.8 0 00-6.77 0l-2.905 2.9a1 1 0 001.414 1.414l2.9-2.9a2.79 2.79 0 013.941 0l.893.893a2.786 2.786 0 010 3.942l-5.8 5.8a2.769 2.769 0 01-1.971.817 2.766 2.766 0 01-1.969-.816 1 1 0 10-1.415 1.412 4.751 4.751 0 003.384 1.4 4.752 4.752 0 003.385-1.4l5.8-5.8a4.786 4.786 0 000-6.771z'/%3E%3C/svg%3E";
$svgAnchorShareBlue: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%232c9cdb' d='M10.458 18.374L7.721 21.11a2.853 2.853 0 01-3.942 0l-.892-.891a2.787 2.787 0 010-3.941l5.8-5.8a2.789 2.789 0 013.942 0l.893.892a1 1 0 001.418-1.418l-.893-.892a4.791 4.791 0 00-6.771 0l-5.8 5.8a4.787 4.787 0 000 6.77l.892.891a4.785 4.785 0 006.771 0l2.736-2.735a1 1 0 10-1.414-1.415z'/%3E%3Cpath fill='%232c9cdb' d='M22.526 2.363l-.892-.892a4.8 4.8 0 00-6.77 0l-2.905 2.9a1 1 0 001.414 1.414l2.9-2.9a2.79 2.79 0 013.941 0l.893.893a2.786 2.786 0 010 3.942l-5.8 5.8a2.769 2.769 0 01-1.971.817 2.766 2.766 0 01-1.969-.816 1 1 0 10-1.415 1.412 4.751 4.751 0 003.384 1.4 4.752 4.752 0 003.385-1.4l5.8-5.8a4.786 4.786 0 000-6.771z'/%3E%3C/svg%3E";
$svgSelect: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 5'%3E%3Cpath d='M10 0L5 5 0 0'/%3E%3C/svg%3E%0A";
