<div class="c-others u-mb-xl">
	<h3 class="c-others__title">
		Další spolupracovníci
	</h3>
	<ul class="c-others__list grid">
		<li class="c-others__item grid__cell size--6-12 size--3-12@md">
			<span class="b-leader b-leader--other">
				<span class="b-leader__img">
					<img src="{{ assets.images }}illust/forejt.jpg" alt="Profilová fotografie - Jan Forejt" width="174" height="174" loading="lazy">
				</span>
				<span class="b-leader__name">
					Jan Forejt
				</span>
				<span class="b-leader__info">
					videa z akcí
				</span>
			</span>
		</li>
		<li class="c-others__item grid__cell size--6-12 size--3-12@md">
			<span class="b-leader b-leader--other">
				<span class="b-leader__img">
					<img src="{{ assets.images }}illust/pokorny.jpg" alt="Profilová fotografie - Robin Pokorný" width="174" height="174" loading="lazy">
				</span>
				<span class="b-leader__name">
					Robin Pokorný
				</span>
				<span class="b-leader__info">
					spoluzakladatel
				</span>
			</span>
		</li>
	</ul>
</div>