{% extends 'layout/layout.njk' %}
{% set pageTitle = 'Homepage' %}
{% set isHomepage = true %}

{% block content %}
	<main id="main" class="main">
		<section role="region" class="b-intro">
			<div class="b-intro__inner">
				<div class="row-main">
					<h2 class="b-intro__title h1">
						Organizujeme vzdělávací akce
						<span class="b-intro__title-sub">
							pro <strong>frontendové vývojáře</strong>.
						</span>
					</h2>
				</div>
			</div>
		</section>

		<section role="region" id="join" class="b-meetup u-pt-xl">
			<div class="u-max-width--10-12 u-mx-auto">
				<div class="row-main">
					<p class="b-meetup__item u-mb-xl">
						<span class="b-meetup__icon">
							{{ iconSVG('meetup') }}
						</span>
						Sleduj nás na meetupu a žádná akce ti neunikne.<br>
						Jsme v
						<a href="https://www.meetup.com/frontendisti/" target="_blank" rel="noopener noreferrer">Praze</a>,
						<a href="https://www.meetup.com/frontendisti-brno/" target="_blank" rel="noopener noreferrer">Brně</a>,
						<a href="https://www.meetup.com/frontendisti-plzen/" target="_blank" rel="noopener noreferrer">Plzni</a>,
						<a href="https://www.meetup.com/Frontendisti-cz-Ostrava/" target="_blank" rel="noopener noreferrer">Ostravě</a>.
					</p>
				</div>
			</div>
		</section>

		{% set socials = {
			items: [
				{
					icon: 'fb-community',
					title: 'Komunita',
					href: 'https://www.facebook.com/frontendisti/',
					perex: 'Staň se členem
					naši početné komunity.'
				},
				{
					icon: 'fb-discussion',
					title: 'Diskuze',
					href: 'https://www.facebook.com/groups/frontendisti/',
					perex: 'Diskutuj s ostatními
					témata, co tě zajímají.'
				},
				{
					icon: 'fb-jobs',
					title: 'Práce',
					href: 'https://www.facebook.com/groups/frontendistiprace/',
					perex: 'Hledáš práci
					nebo skvělé lidi?'
				},
				{
					icon: 'youtube',
					title: 'Videa',
					href: 'https://www.youtube.com/user/frontendisti',
					perex: 'Nestihl jsi přijít osobně?
					Mrkni na videa na&nbsp;YouTube'
				},
				{
					icon: 'twitter',
					title: 'Zprávy',
					href: 'https://twitter.com/Frontendisti',
					perex: 'Rychlý přehled
					o všem důležitém.'
				},
				{
					icon: 'instagram',
					title: 'Fotky',
					href: 'https://www.instagram.com/frontendisti/',
					perex: 'Komunita na fotkách'
				}
			]
		} %}
		{% include './inc/crossroad/socials.njk' %}


		{% set partners = {
			items: [
				{
					name: 'ataccama',
					href: 'https://www.ataccama.com/',
					width: '223',
					height: '62'
				},
				{
					name: 'lmc',
					href: 'https://www.lmc.eu/',
					width: '112',
					height: '85'
				},
				{
					name: 'superkoders',
					href: 'https://superkoders.com/',
					width: '291',
					height: '18'
				},
				{
					name: 'microsoft',
					href: 'https://microsoft.com/',
					width: '232',
					height: '68'
				}
			]
		} %}
		{% include './inc/crossroad/partners.njk' %}

		{% set leaders = {
			items: [
				{
					city: 'Praha',
					name: 'Martin Michálek',
					mail: 'martin@vzhurudolu.cz',
					img: 'michalek',
					others: [
						{
							href: '#',
							name: 'Adam Kudrna'
						},
						{
							href: '#',
							name: 'Břéťa Proft'
						},
						{
							href: '#',
							name: 'Michal Voják'
						}
					]
				},
				{
					city: 'Brno',
					name: 'Tomáš Hejč',
					mail: 'tomas.hejc@superkoderi.cz',
					img: 'hejc',
					others: [
						{
							href: '#',
							name: 'Martin Kolář'
						},
						{
							href: '#',
							name: 'Martin Pešout'
						}
					]
				},
				{
					city: 'Ostrava',
					name: 'Daniel Střelec',
					mail: 'jsem@danielstrelec.cz',
					img: 'strelec',
					others: [
						{
							href: '#',
							name: 'Tomáš Musiol'
						}
					]
				},
				{
					city: 'Plzeň',
					name: 'Eduard Štůla',
					mail: 'info@eduardstula.cz',
					img: 'stula'
				}
			]
		} %}
		{% include './inc/crossroad/leaders.njk' %}
	</main>
{% endblock %}
