{% extends 'layout/layout.njk' %}
{% set pageTitle = 'Archiv akcí' %}

{% block content %}
	<main role="main" id="main">
		<div class="b-intro b-intro--sm">
			<div class="b-intro__inner"></div>
		</div>

		<div class="row-main row-main--sm">
			<div class="u-pull-up">
				{% include './inc/box/meetup.njk' %}
					{% set events = [
						{
							title: 'Chrome DevTools, metriky rychlosti načítání a JAMstack',
							place: 'Středa 14. 3. 2018, Ataccama office Praha',
							partners: [
								{
									name: 'Ataccama',
									url: 'https://www.ataccama.com/',
									img: 'ataccama.svg',
									imgWidth: 110,
									imgHeight: 31
								},
								{
									name: 'LMC',
									url: 'https://lmc.eu/',
									img: 'lmc.svg',
									imgWidth: 53,
									imgHeight: 40
								}
							],
							persons: [
								{
									twitter: 'https://twitter.com/machal',
									name: 'Martin Michálek',
									job: 'Freelancer',
									topic: 'Metriky rychlosti načítání a tipy pro WebpageTest.org',
									youtubeHref: 'https://youtu.be/fR9n_yi050g'

								},
								{
									img: 'michalek',
									twitter: 'https://twitter.com/machal',
									name: 'Martin Michálek',
									job: 'Freelancer',
									topic: 'Metriky rychlosti načítání a tipy pro WebpageTest.org a Metriky rychlosti načítání a tipy pro WebpageTest.org',
									youtubeHref: 'https://youtu.be/fR9n_yi050g',
									slideshareHref: 'https://www.slideshare.net/machal/metriky-rychlosti-natn'
								},
								{
									img: 'michalek',
									twitter: 'https://twitter.com/machal',
									name: 'Martin Michálek',
									job: 'Freelancer',
									topic: 'Metriky rychlosti načítání a tipy pro WebpageTest.org',
									youtubeHref: 'https://youtu.be/fR9n_yi050g',
									slideshareHref: 'https://www.slideshare.net/machal/metriky-rychlosti-natn'
								},
								{
									img: 'michalek',
									twitter: 'https://twitter.com/machal',
									name: 'Martin Michálek',
									job: 'Freelancer',
									topic: 'Metriky rychlosti načítání a tipy pro WebpageTest.org',
									youtubeHref: 'https://youtu.be/fR9n_yi050g',
									slideshareHref: 'https://www.slideshare.net/machal/metriky-rychlosti-natn'
								}
							],
							showAllBtn: {
								allVideosHref: 'https://www.youtube.com/watch?v=0IVyn8LNUzg&list=PLnXfazh66kVc63e8d7S7Y8IVe3AfSq8iA',
								allVideosText: 'Všechno v playlistu'
							}
						},
						{
							title: 'Chrome DevTools, metriky rychlosti načítání a JAMstack',
							place: 'Středa 14. 3. 2018, Ataccama office Praha',
							partners: [
								{
									name: 'Ataccama',
									url: 'https://www.ataccama.com/',
									img: 'ataccama.svg',
									imgWidth: 110,
									imgHeight: 31
								},
								{
									name: 'LMC',
									url: 'https://lmc.eu/',
									img: 'lmc.svg',
									imgWidth: 53,
									imgHeight: 40
								}
							],
							persons: [
								{
									twitter: 'https://twitter.com/machal',
									name: 'Martin Michálek',
									job: 'Freelancer',
									topic: 'Metriky rychlosti načítání a tipy pro WebpageTest.org',
									youtubeHref: 'https://youtu.be/fR9n_yi050g'

								},
								{
									img: 'michalek',
									twitter: 'https://twitter.com/machal',
									name: 'Martin Michálek',
									job: 'Freelancer',
									topic: 'Metriky rychlosti načítání a tipy pro WebpageTest.org a Metriky rychlosti načítání a tipy pro WebpageTest.org',
									youtubeHref: 'https://youtu.be/fR9n_yi050g',
									slideshareHref: 'https://www.slideshare.net/machal/metriky-rychlosti-natn'
								},
								{
									img: 'michalek',
									twitter: 'https://twitter.com/machal',
									name: 'Martin Michálek',
									job: 'Freelancer',
									topic: 'Metriky rychlosti načítání a tipy pro WebpageTest.org',
									youtubeHref: 'https://youtu.be/fR9n_yi050g',
									slideshareHref: 'https://www.slideshare.net/machal/metriky-rychlosti-natn'
								},
								{
									img: 'michalek',
									twitter: 'https://twitter.com/machal',
									name: 'Martin Michálek',
									job: 'Freelancer',
									topic: 'Metriky rychlosti načítání a tipy pro WebpageTest.org',
									youtubeHref: 'https://youtu.be/fR9n_yi050g',
									slideshareHref: 'https://www.slideshare.net/machal/metriky-rychlosti-natn'
								}
							],
							showAllBtn: {
								allVideosHref: 'https://www.youtube.com/watch?v=0IVyn8LNUzg&list=PLnXfazh66kVc63e8d7S7Y8IVe3AfSq8iA',
								allVideosText: 'Všechno v playlistu'
							}
						}]
					%}
					{% include './inc/crossroad/event.njk' %}
			</div>
		</div>
	</main>
{% endblock %}
