{% extends '@layout/layout.twig' %}
{% set pageTitle = '404' %}

{% block content %}
	<main role="main" id="main">
		<div class="b-intro b-intro--sm">
			<div class="b-intro__inner"></div>
		</div>

		<div class="row-main row-main--sm u-pt-xl u-mb-xl">
			<div class="b-404 u-text-center u-mb-md">
				Kde udělali soudruzi z NDR chybu?
			</div>
			<p class="u-mb-0 u-text-center">
				<a href="/" class="btn">
					<span class="btn__text">
						Zpět
					</span>
				</a>
			</p>
		</div>
	</main>
{% endblock %}
