{% extends 'layout/layout.njk' %}
{% set pageTitle = 'Archiv akcí' %}
{% set isArchive = true %}

{% block content %}
	<main role="main" id="main">
		<div class="b-intro b-intro--sm">
			<div class="b-intro__inner"></div>
		</div>

		<div class="row-main row-main--sm">
			<div class="u-pull-up">
				{% include './inc/box/meetup.njk' %}

				{% include './inc/crossroad/event.njk' %}
			</div>
		</div>
	</main>
{% endblock %}
