{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Archiv akcí' %}
{% set isArchive = true %}

{% block content %}
	<main role="main" id="main">
		<div class="b-intro b-intro--sm">
			<div class="b-intro__inner"></div>
		</div>

		<div class="row-main row-main--sm">
			<div class="u-pull-up">
				{% include '@components/box/conference.twig' %}

				{% include '@components/crossroad/event.twig' %}
			</div>
		</div>
	</main>
{% endblock %}
