{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Homepage' %}
{% set isHomepage = true %}

{% block content %}
	<main id="main" class="main">
		<div class="u-bg-secondary">
			<div class="row-main">
				{% include '@components/box/conference.twig' %}
			</div>
		</div>

		<div class="u-bg-tertiary u-pt-xxl">
			<div class="row-main">
				<nav id="menu-main" class="m-main" aria-label="Hlavní menu">
					<ul class="m-main__list">
						{% set items = [
							{ title: 'Úvod', href: '/' },
							{ title: 'Partneři', href: '#partners' },
							{ title: 'Tým a kontakty', href: '#team' }
						] %}
						{% for item in items %}
							<li class="m-main__item">
								<a href="{{ item.href }}" class="m-main__link">
									{{ item.title|raw }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</nav>
				<div class="u-max-width--9-12 u-ml-auto">
					<section class="b-social">
						<h2 class="b-social__title">
							Budujeme a vzděláváme <br>
							komunitu frontendových <br>
							vývojářů a designérů
						</h2>
						<div class="b-social__inner">
							<div class="b-social__content">
								<div class="grid">
									<div class="grid__cell size--8-12@xl">
										<p>
											Připoj se k naší rostoucí <br>
											komunitě profesionálů.
										</p>
									</div>
									<div class="grid__cell size--auto@xl">
										<div class="grid">
											<div class="grid__cell size--auto">
												<a class="b-social__link" href="https://www.facebook.com/groups/frontendisti" target="_blank" rel="noopener noreferrer">
													{% include "@images/bg/facebook.svg" %}
													<span class="u-vhide">
														Frontendisti na facebooku
													</span>
												</a>
											</div>
											<div class="grid__cell size--auto">
												<a class="b-social__link" href="https://twitter.com/Frontendisti">
													{% include "@images/bg/twitter.svg" %}
													<span class="u-vhide">
														Frontendisti na twitteri
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="b-social__gallery">
								{% for img in range(0, 17) %}
									<div class="b-social__img">
										<img src="{{ assets.images }}illust/gallery-{{ loop.index }}.jpg" alt="" width="110" height="110" loading="lazy">
									</div>
								{% endfor %}
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>


		{% set partners = {
			items: [
				{
					name: 'rohlik',
					href: 'https://rohlik.cz/',
					alt: 'rohlik.cz',
					width: '170',
					height: '86'
				},
				{
					name: 'LMC',
					href: 'https://www.lmc.eu/',
					alt: 'LMC s.r.o.',
					width: '112',
					height: '85'
				},
				{
					name: 'SUPERKODERS',
					href: 'https://superkoders.cz/',
					alt: 'SUPERKODERS',
					width: '230',
					height: '30'
				},
				{
					name: 'SLEVOMAT',
					href: 'https://www.slevomat.cz/',
					alt: 'Slevomat',
					width: '154',
					height: '36'
				}
			]
		} %}
		{% include '@components/crossroad/partners.twig' %}

		{% set leaders = {
			items: [
				{
					city: 'Praha',
					name: 'Martin Michálek',
					mail: 'martin@vzhurudolu.cz',
					img: 'michalek',
					others: [
						{
							name: 'Adam Kudrna'
						},
						{
							name: 'Břetislav Proft'
						},
						{
							name: 'Michal Voják'
						}
					]
				},
				{
					city: 'Brno',
					name: 'Tomáš Hejč',
					mail: 'tomas.hejc@superkoders.com',
					img: 'hejc',
					others: [
						{
							name: 'Martin Kolář'
						},
						{
							name: 'Martin Pešout'
						},
						{
						name: 'David Czernín'
						}
					]
				},
				{
					city: 'Ostrava',
					name: 'Daniel Střelec',
					mail: 'jsem@danielstrelec.cz',
					img: 'strelec',
					others: [
						{
							name: 'Tomáš Musiol'
						}
					]
				},
				{
					city: 'Plzeň',
					name: 'Eduard Štůla',
					mail: 'info@eduardstula.cz',
					img: 'stula'
				}
			]
		} %}
		{% include '@components/crossroad/leaders.twig' %}
	</main>
{% endblock %}
