{% extends 'layout/layout.njk' %}
{% set pageTitle = 'Homepage' %}
{% set isHomepage = true %}

{% block content %}
	<main id="main" class="main">
		<section role="region" class="b-intro">
			<div class="b-intro__inner">
				<div class="row-main">
					<h2 class="b-intro__title h1">
						Budujeme a&nbsp;vzděláváme
						<span class="b-intro__title-sub">
							komunitu <strong>frontendových vývojářů</strong>.
						</span>
					</h2>
				</div>
			</div>
		</section>

		<div class="u-pt-xl">
			{% include './inc/box/meetup.njk' %}
		</div>

		{% set socials = {
			items: [
				{
					icon: 'fb-community',
					title: 'Komunita',
					href: 'https://www.facebook.com/frontendisti/',
					perex: 'Staň se členem
					naši početné komunity.'
				},
				{
					icon: 'fb-discussion',
					title: 'Diskuze',
					href: 'https://www.facebook.com/groups/frontendisti/',
					perex: 'Diskutuj s ostatními
					témata, co tě zajímají.'
				},
				{
					icon: 'fb-jobs',
					title: 'Práce',
					href: 'https://www.facebook.com/groups/frontendistiprace/',
					perex: 'Hledáš práci
					nebo skvělé lidi?'
				},
				{
					icon: 'youtube',
					title: 'Videa',
					href: 'https://www.youtube.com/user/frontendisti',
					perex: 'Nestihl jsi přijít osobně?
					Mrkni na videa na&nbsp;YouTube'
				},
				{
					icon: 'twitter',
					title: 'Zprávy',
					href: 'https://twitter.com/Frontendisti',
					perex: 'Rychlý přehled
					o všem důležitém.'
				},
				{
					icon: 'instagram',
					title: 'Fotky',
					href: 'https://www.instagram.com/frontendisti/',
					perex: 'Komunita na fotkách'
				}
			]
		} %}
		{% include './inc/crossroad/socials.njk' %}


		{% set partners = {
			items: [
				{
					name: 'Slevomat',
					href: 'https://www.slevomat.cz/',
					width: '154',
					height: '36'
				},
				{
					name: 'LMC',
					href: 'https://www.lmc.eu/',
					width: '112',
					height: '85'
				},
				{
					name: 'SUPERKODERS',
					href: 'https://superkoders.cz/',
					width: '291',
					height: '18'
				},
				{
					name: 'rohlik',
					href: 'https://rohlik.cz/',
					width: '200',
					height: '102'
				}
			]
		} %}
		{% include './inc/crossroad/partners.njk' %}

		{% set leaders = {
			items: [
				{
					city: 'Praha',
					name: 'Martin Michálek',
					mail: 'martin@vzhurudolu.cz',
					img: 'michalek',
					others: [
						{
							href: '#',
							name: 'Adam Kudrna'
						},
						{
							href: '#',
							name: 'Břetislav Proft'
						},
						{
							href: '#',
							name: 'Michal Voják'
						}
					]
				},
				{
					city: 'Brno',
					name: 'Tomáš Hejč',
					mail: 'tomas.hejc@superkoders.com',
					img: 'hejc',
					others: [
						{
							href: '#',
							name: 'Martin Kolář'
						},
						{
							href: '#',
							name: 'Martin Pešout'
						},
						{
						href: '#',
						name: 'David Czernín'
						}
					]
				},
				{
					city: 'Ostrava',
					name: 'Daniel Střelec',
					mail: 'jsem@danielstrelec.cz',
					img: 'strelec',
					others: [
						{
							href: '#',
							name: 'Tomáš Musiol'
						}
					]
				},
				{
					city: 'Plzeň',
					name: 'Eduard Štůla',
					mail: 'info@eduardstula.cz',
					img: 'stula'
				}
			]
		} %}
		{% include './inc/crossroad/leaders.njk' %}
	</main>
{% endblock %}
