{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Homepage' %}
{% set isHomepage = true %}

{% block content %}
	<main id="main" class="main">
		<div class="u-pt-xl">
			<div class="u-max-width--10-12 u-mx-auto">
				<div class="row-main">
					{% include '@components/box/meetup.twig' %}
				</div>
			</div>
		</div>

		{% set socials = {
			items: [
				{
					icon: 'fb-community',
					title: 'Komunita',
					href: 'https://www.facebook.com/frontendisti/',
					perex: 'Staň se členem
					naši početné komunity.'
				},
				{
					icon: 'fb-discussion',
					title: 'Diskuze',
					href: 'https://www.facebook.com/groups/frontendisti/',
					perex: 'Diskutuj s ostatními
					témata, co tě zajímají.'
				},
				{
					icon: 'fb-jobs',
					title: 'Práce',
					href: 'https://www.facebook.com/groups/frontendistiprace/',
					perex: 'Hledáš práci
					nebo skvělé lidi?'
				},
				{
					icon: 'youtube',
					title: 'Videa',
					href: 'https://www.youtube.com/user/frontendisti',
					perex: 'Nestihl jsi přijít osobně?
					Mrkni na videa na&nbsp;YouTube'
				},
				{
					icon: 'twitter',
					title: 'Zprávy',
					href: 'https://twitter.com/Frontendisti',
					perex: 'Rychlý přehled
					o všem důležitém.'
				},
				{
					icon: 'instagram',
					title: 'Fotky',
					href: 'https://www.instagram.com/frontendisti/',
					perex: 'Komunita na fotkách'
				}
			]
		} %}
		{% include '@components/crossroad/socials.twig' %}


		{% set partners = {
			items: [
				{
					name: 'rohlik',
					href: 'https://rohlik.cz/',
					alt: 'rohlik.cz',
					width: '170',
					height: '86'
				},
				{
					name: 'LMC',
					href: 'https://www.lmc.eu/',
					alt: 'LMC s.r.o.',
					width: '112',
					height: '85'
				},
				{
					name: 'SUPERKODERS',
					href: 'https://superkoders.cz/',
					alt: 'SUPERKODERS',
					width: '230',
					height: '30'
				},
				{
					name: 'SLEVOMAT',
					href: 'https://www.slevomat.cz/',
					alt: 'Slevomat',
					width: '154',
					height: '36'
				}
			]
		} %}
		{% include '@components/crossroad/partners.twig' %}

		{% set leaders = {
			items: [
				{
					city: 'Praha',
					name: 'Martin Michálek',
					mail: 'martin@vzhurudolu.cz',
					img: 'michalek',
					others: [
						{
							name: 'Adam Kudrna'
						},
						{
							name: 'Břetislav Proft'
						},
						{
							name: 'Michal Voják'
						}
					]
				},
				{
					city: 'Brno',
					name: 'Tomáš Hejč',
					mail: 'tomas.hejc@superkoders.com',
					img: 'hejc',
					others: [
						{
							name: 'Martin Kolář'
						},
						{
							name: 'Martin Pešout'
						},
						{
						name: 'David Czernín'
						}
					]
				},
				{
					city: 'Ostrava',
					name: 'Daniel Střelec',
					mail: 'jsem@danielstrelec.cz',
					img: 'strelec',
					others: [
						{
							name: 'Tomáš Musiol'
						}
					]
				},
				{
					city: 'Plzeň',
					name: 'Eduard Štůla',
					mail: 'info@eduardstula.cz',
					img: 'stula'
				}
			]
		} %}
		{% include '@components/crossroad/leaders.twig' %}
	</main>
{% endblock %}
