{% extends '@layout/layout-conference.twig' %}
{% set pageTitle = 'FrontKon - konference komunity' %}
{% set isHomepage = true %}

{% block content %}

	<main id="main">


		<h1 class="u-vhide">FrontKon 2024</h1>


		<div class="u-bg-default">
			<div class="u-pt-xxl row-main">


				<div class="u-mx-auto u-max-width--6-12 u-mb-xxl">
					<h2 class="u-mb-md">
						Celodenní živá konference komunity Frontendisti.cz.<br>
						Přijďte se pobavit a&nbsp;dozvědět, co je v&nbsp;oboru nového.
					</h2>

					<p>
						1 den, 3 přednáškové sály, kolem 30 přednášek, 600 účastníků.<br>
						9. října 2024, <a href="https://www.o2universum.cz/" target="_blank">O2 universum Praha</a>.<br>
						Čas: 10:00 - 18:00
					</p>
				</div>
				<div class="u-mx-auto u-max-width--10-12 u-mb-xxl">
					<section class="c-icons u-mb-xxl">
						{% set items = [
							{ icon: 'presentation', title: 'přednášky' },
							{ icon: 'discussion', title: 'moderované <br> diskuze' },
							{ icon: 'laptop-fun', title: 'zábava' },
							{ icon: 'networking', title: 'networking' },
						] %}
						{% if items is defined and items is not empty %}
							<ul class="c-icons__list grid grid--center">
								{% for item in items %}
									<li class="c-icons__item grid__cell size--6-12 size--3-12@sm">
										<span class="icon">
											{% include '@components/core/icon-svg/icon-svg.twig' with {
												props: {
													name: item.icon
												}
											} %}
											<span class="icon__title">
												{{ item.title|raw }}
											</span>
										</span>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</section>
				</div>



			</div>
		</div>


	</main>

{% endblock %}
