{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Meetup' %}
{% set isNewsletter = true %}

{% block content %}
	<main id="main">
		<section class="b-success u-mb-lg">
			<div class="row-main">
				<div class="b-success__inner">
					<h1>
						<strong>
							V치no캜n칤 meetup 8. 12. 2021
						</strong>
					</h1>
					<div class="u-mb-sm">
						<iframe style="width: 100%; height: auto; aspect-ratio: 16/9" src="https://www.youtube.com/embed/QRw9JxyGps8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<p>
						<a href="https://www.youtube.com/watch?v=QRw9JxyGps8" class="btn">
							<span class="btn__inner">
								Sledujte na YouTube
							</span>
						</a>
					</p>
				</div>
			</div>
		</section>

		<section class="u-mb-lg">
			<div class="row-main">
				<div class="grid grid--lg">
					<div class="grid__cell size--6-12@md u-text-center">
						<h1>
							<strong>
								Diskuze o p콏칤stupnosti
							</strong>
						</h1>
						<p>
							Navazujeme na p콏edn치코ky Romana Kabelky a Luk치코e Pazderky a diskutujeme o t칠matu s&nbsp;Martinem Pe코outem, Martinem Mich치lkem a dal코칤mi hosty.</p>
						<p>
							P콏idat se m콢쬰te i vy: <a href="https://streamyard.com/j6edbru6nj" target="_blank">https://streamyard.com/j6edbru6nj</a>
						</p>
						<p>
							<a href="https://youtu.be/Tii8E4-qMaE" class="btn">
								<span class="btn__inner">
									Sledovat na YouTube
								</span>
							</a>
						</p>
					</div>
					<div class="grid__cell size--6-12@md u-text-center">
						<h1>
							<strong>
								Diskuze o cookies
							</strong>
						</h1>
						<p>
							Navazujeme na p콏edn치코ku Martina Kol치콏e a diskutujeme o t칠matu s&nbsp;Michalem Matu코kou a dal코칤mi hosty.
						<p>
							P콏idat se m콢쬰te i vy: <a href="https://streamyard.com/iaadx2iufi" target="_blank">https://streamyard.com/iaadx2iufi</a>
						</p>
						<p>
							<a href="https://youtu.be/62s9finRKnQ" class="btn">
								<span class="btn__inner">
									Sledovat na YouTube
								</span>
							</a>
						</p>
					</div>
				</div>
			</div>
		</section>


		<section class="s-newsletter">
			<div class="b-newsletter">
				<div class="b-newsletter__inner">
					<div class="row-main">
						<div class="u-max-width--4-12 u-mx-auto">
							<form
									method="GET"
									action="https://www.web-hero.cz/frontendisti/"
									class="f-newsletter u-mb-md"
									target="_blank"
							>

								<h2 class="f-newsletter__title">
									V치no캜n칤 <span class="u-color-red">sout캩</span>
									o super ceny!
								</h2>
								<p class="f-newsletter__title">
									Prvn칤 cenou je licence a p콏칤stup ke v코em vide칤m z d칤lny Vzh콢ru dol콢 v hodnot캩 4 422K캜.
									Novinkou port치lu <a href="https://www.vzhurudolu.cz/video/firmy" target="_blank" style="color: white">Vzh콢ru dol콢</a> je mo쬹ost kupovat <a href="https://www.vzhurudolu.cz/video/firmy" target="_blank" style="color: white">p콏edplatn칠 pro firmy</a>.
								</p>
								<p class="f-newsletter__title">
									Druhou cenou je voucher na n치kup knih z <a href="https://abookapart.com/collections/books" target="_blank" style="color: white">A Book Apart</a> v hodnot캩 100$, kterou v캩nuj칤 <a href="https://superkoders.com/jobs" target="_blank" style="color: white">SUPERKODERS</a>.
								</p>
								<p class="inp-fix">
									<label for="email" class="inp-label u-vhide">
										tv콢j e-mail
									</label>
									<input type="email" name="email" id="email" class="f-newsletter__inp inp-text" placeholder="tv콢j e-mail" autocomplete="e-mail" required>
								</p>
								<p>
									<button type="submit" name="subscribe" class="f-newsletter__btn btn btn--danger btn--loader" data-submit-button>
								<span class="btn__inner">
									<span class="btn__text">
										Chci sout캩쬴t
									</span>
									<span class="f-newsletter__icon checkmark">
										<svg xmlns="http://www.w3.org/2000/svg" width="30" viewBox="0 0 100 70">
											<polyline points="4 30 33 66 96 4" class="checkmark__line" />
										</svg>
									</span>
								</span>
									</button>
								</p>
								<p class="f-newsletter__hint">
									Hotovo! Zkontroluj svoji mailovku 游닏
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
