{% extends '@layout/layout.twig' %}
{% set pageTitle = 'Meetup' %}
{% set isNewsletter = true %}

{% block content %}
	<main role="main" id="main">
		<section class="b-success u-mb-lg">
			<div class="row-main">
				<div class="b-success__inner">
					<h1>
						<strong>
							Vánoční meetup 8. 12. 2021
						</strong>
					</h1>
					<div class="u-mb-sm">
						<iframe style="width: 100%; height: auto; aspect-ratio: 16/9" src="https://www.youtube.com/embed/QRw9JxyGps8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<p>
						<a href="https://www.youtube.com/watch?v=QRw9JxyGps8" class="btn">
							<span class="btn__inner">
								Sledujte na YouTube
							</span>
						</a>
					</p>
				</div>
			</div>
		</section>

		<section>
			<div class="row-main">
				<div class="grid grid--lg">
					<div class="grid__cell size--6-12@md u-text-center">
						<h1>
							<strong>
								Diskuze o přístupnosti
							</strong>
						</h1>
						<p>
							Navazujeme na přednášky Romana Kabelky a Lukáše Pazderky a diskutujeme o tématu s&nbsp;Martinem Pešoutem, Martinem Michálkem a dalšími hosty.</p>
						<p>
							Přidat se můžete i vy: <a href="https://streamyard.com/j6edbru6nj" target="_blank">https://streamyard.com/j6edbru6nj</a>
						</p>
						<p>
							<a href="https://youtu.be/Tii8E4-qMaE" class="btn">
								<span class="btn__inner">
									Sledovat na YouTube
								</span>
							</a>
						</p>
					</div>
					<div class="grid__cell size--6-12@md u-text-center">
						<h1>
							<strong>
								Diskuze o cookies
							</strong>
						</h1>
						<p>
							Navazujeme na přednášku Martina Koláře a diskutujeme o tématu s&nbsp;Michalem Matuškou a dalšími hosty.
						<p>
							Přidat se můžete i vy: <a href="https://streamyard.com/iaadx2iufi" target="_blank">https://streamyard.com/iaadx2iufi</a>
						</p>
						<p>
							<a href="https://youtu.be/Tii8E4-qMaE" class="btn">
								<span class="btn__inner">
									Sledovat na YouTube
								</span>
							</a>
						</p>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
