{% extends '@layout/layout.twig' %}
{% set pageTitle = 'P콏ihl치코en칤 k odb캩ru novinek' %}
{% set isNewsletter = true %}

{% block content %}
	<main role="main" id="main">
		<section class="b-success">
			<div class="row-main">
				<div class="b-success__inner">
					<h1>
						Par치da! 游꿀
					</h1>
					<p>
						P콏ihl치코en칤 jsme zaznamenali, nyn칤 pros칤m <strong>ov캩콏 svoji e-mailovou adresu</strong> kliknut칤m na p콏ihl치sit v e-mailu, kter칳&nbsp;jsme&nbsp;nyn칤 odeslali.
					</p>
					<p>
						<a href="/" class="btn">
							<span class="btn__inner">
								Zp캩t
							</span>
						</a>
					</p>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
