{% extends '@layout/layout.twig' %}
{% set pageTitle = 'P콏ihl치코en칤 k odb캩ru novinek' %}
{% set isNewsletter = true %}

{% block content %}
	<main id="main">
		<section class="b-success">
			<div class="row-main">
				<div class="b-success__inner">
					<h1>
						Par치da! 游꿀
					</h1>
					<p>
						P콏ihl치코en칤 k newsletteru prob캩hlo 칰sp캩코n캩.
					</p>
					<p>
						<a href="/" class="btn">
							<span class="btn__inner">
								Zp캩t
							</span>
						</a>
					</p>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
