{% extends '@layout/layout.twig' %}
{% set pageTitle = 'P콏ihl치코en칤 k odb캩ru novinek' %}
{% set isNewsletter = true %}

{% block content %}
	<main role="main" id="main">
		<div class="b-intro b-intro--sm">
			<div class="b-intro__inner"></div>
		</div>

		<div class="row-main row-main--sm">
			<div class="u-pull-up">
				<div class="u-max-width--8-12 u-mx-auto u-text-center">
					<div class="row-main">
						<h1 class="h2">
							<strong>
								Par치da! 游꿀
							</strong>
						</h1>
						<p>
							P콏ihl치코en칤 jsme zaznamenali, nyn칤 pros칤m <strong>ov캩콏 svoji e-mailovou adresu</strong> kliknut칤m na p콏ihl치sit v e-mailu, kter칳 jsme nyn칤 odeslali.
						</p>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
