.footer {
	position: relative;
	z-index: 2;
	background-color: $colorBg;
	padding: 118px 0 124px;
	font-weight: 400;
	text-align: center;
	letter-spacing: -0.05em;
	p {
		font-weight: 400;
	}
	address {
		line-height: 2;
	}
	&__logo {
		display: block;
		width: 82px;
		margin: 0 auto;
		margin-bottom: 120px;
	}

	// STATEs
	.page-anim:not(.page-anim-start) & {
		transform: translateY(-200px);
	}

	// MQs
	@media ($mdUp) {
		padding: 218px 0 72px;
		font-size: 14px;
		&__logo {
			margin-bottom: 200px;
			width: 120px;
		}
	}
}
