.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 325px;
	background: $colorSecondary
		url("https://skyproxy.superkoders.rocks/frontendisti/img/bg/frontendisti-hero.jpg?w=640&d=2")
		bottom center no-repeat;
	background-size: cover;
	color: #fff;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $colorSecondary;
		opacity: 0.58;
	}
	&__inner {
		flex: 1 1 100%;
		text-align: center;
	}
	&__logo {
		width: 138px;
		margin-bottom: 0;
	}

	// MEDIA QUERIEs
	@media ($mdUp) {
		background-image: url("https://skyproxy.superkoders.rocks/frontendisti/img/bg/frontendisti-hero.jpg?w=750&d=2");
	}
	@media ($lgUp) {
		background-image: url("https://skyproxy.superkoders.rocks/frontendisti/img/bg/frontendisti-hero.jpg?w=1000&d=2");
		height: 510px;
		&__logo {
			width: 184px;
		}
	}
	@media ($xlUp) {
		background-image: url("https://skyproxy.superkoders.rocks/frontendisti/img/bg/frontendisti-hero.jpg?w=1920");
	}
}
