.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 325px;
	background: $colorSecondary
		url("https://skyproxy.superkoders.rocks/frontendisti/img/bg/frontendisti-hero.jpg?w=640&d=2")
		bottom center no-repeat;
	background-size: cover;
	color: #fff;
	transition: transform 0.23s ease-in-out;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $colorSecondary;
		opacity: 0.58;
	}
	> .row-main {
		margin: 0;
		width: 100%;
	}
	&__inner {
		flex: 1 1 100%;
		text-align: center;
	}
	&__logo {
		display: block;
		width: 138px;
		margin: 0 auto;
	}

	// STATEs
	[data-state="menu-opened"] & {
		&__logo path {
			transition-delay: 0.2s;
			fill: $colorText;
		}
	}

	// MQs
	@media ($mdDown) {
		margin-top: 50px;
		.other & {
			margin-top: 0;
		}
		&--blog {
			margin-top: 0;
		}
	}
	@media ($mdUp) {
		background-image: url("https://skyproxy.superkoders.rocks/frontendisti/img/bg/frontendisti-hero.jpg?w=750&d=2");
	}
	@media ($lgUp) {
		background-image: url("https://skyproxy.superkoders.rocks/frontendisti/img/bg/frontendisti-hero.jpg?w=1000&d=2");
		&__logo {
			width: 184px;
		}
		&:not(.header--blog) {
			height: 510px;
		}
	}
	@media ($xlUp) {
		background-image: url("https://skyproxy.superkoders.rocks/frontendisti/img/bg/frontendisti-hero.jpg?w=1920");
	}
}
