html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	height: 100%;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100%;
	overflow-x: hidden;
	background-color: $colorBg;
	&[data-state="menu-opened"] {
		overflow: hidden;
	}
}
main {
	flex-grow: 1;
}
section {
	scroll-margin-top: 56px;
	@media ($lgUp) {
		scroll-margin-top: 144px;
	}
}
:first-child {
	margin-top: 0;
}

@import "header";
@import "header-conf";
@import "main-conf";
@import "menu";
@import "footer";
