html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	height: 100%;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100%;
	overflow-x: hidden;
	&[data-state="menu-opened"] {
		overflow: hidden;
	}
}
main {
	flex-grow: 1;
}
:first-child {
	margin-top: 0;
}

@import "header";
@import "menu";
@import "footer";
