html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	position: relative;
	min-width: 320px;
}
section {
	text-align: center;
}
:first-child {
	margin-top: 0;
}

@import 'header';
@import 'footer';
