{% include "@components/box/detail.twig" with {
	props: {
		name: 'Moderovaná diskuze',
		title: 'JAMstack & headless CMS',
		annot: '<p>JAMstack přinesl během posledních několika let významou změnu do světa vývoje webů. Jednou z těch změn byl i obrovský boom na poli headless CMS.
			A protože většina webů nějaké CMS používá, rozhodli jsme se naši diskuzi věnovat právě tomuto tématu.</p>
			<p>Pozvání do diskuze přijali:<br>
				<strong>Jan Sládek</strong> - Před 11 lety jako kodér poučoval český internet o CSS3 na Zdrojáku, v roce 2014 byl jedním z architektů přesunu konference WebExpo
				do Paláce Lucerna. Je spoluzakladatel technologického a designového studia manGoweb, kde má na starost vývoj aplikací.
				A nově rozjíždí headless platformu na tvorbu aplikací na míru <a href="https://contember.com" style="font-weight: normal">Contember.com</a>.<br>
				a<br>
				<strong>Jaroslav Vrána</strong> - frontend vývojář, aktuálně působící v Integromatu. Jarda o tématu Headless CMS mluvil na našem posledním offline meetupu, sdílel
				s námi svoji zkušenost, kterou nasbíral při důkladném testování na porovnávání vlastností víc než 50 CMS.
			</p>
			<p>
				Diskuzi moderuje <strong>Tomáš Hejč</strong> ze SUPERKODERS pro něhož je JAMstack vítaným útěkem z manažerské pozice zpět ke kódu.
			</p>
			',
	}
}%}

