{% include "@components/box/detail.twig" with {
	props: {
		imgSrc: 'bien.jpg',
		name: 'Jan
		Bien',
		title: 'Tailwind CSS:
		<span>framework, který zvládne každý grafický návrh?</span>',
		annot: 'CSS frameworky postavené na utility třídách – na první pohled nezajímavé a nudné. Oproti komponentovým frameworkům jsou ale daleko univerzálnější a zvládnou širší paletu grafik. Pojďme se podrobněji podívat na jeden z nich: Tailwind CSS.',
		url: 'https://www.webmistr.wtf',
		twitter: 'https://twitter.com/HonzaBien',
	}
}%}

