{% include "@components/box/detail.twig" with {
	props: {
		imgSrc: 'martin-kopta.jpg',
		name: 'Martin Kopta',
		title: 'Modely místo high-fidelity návrhů UI',
		annot: 'Známe to všichni: Přijde návrh z rukou UI designéra s obrovským množstvím obrazovek a stavů. Opravdu potřebujeme tolik detailů? Možná je čas uvědomit si, že tu máme knihovny komponent ve Figmě a design systémy se zdrojovým kódem, a designéři mohou pro vývojáře namísto návrhů připravit dynamické modely.
<br><br>
Co si pro vás připravil:
<ul>
<li><strong>Mythbusting high-fidelity návrhů</strong>: Proč jsou tradiční detailní prototypy někdy víc na obtíž než ku prospěchu? Diskuse o redundanci a časových nákladech.</li>
<li><strong>Magie modelování UI</strong>: Prozkoumáme, jak může jednodušší přístup k UI zrychlit design, zlepšit adaptabilitu a posílit spolupráci s vývojovými týmy.</li>
<li><strong>Kuchařka pro model UI</strong>: Jaké jsou klíčové ingredience pro skvělý model UI? Od dokumentace až po využití standardních UI knihoven.</li>
<li><strong>Z teorie do praxe</strong>: Příběhy z reálného světa ukazující, jak může modelování UI přinést rychlejší a efektivnější výsledky.</li>
</ul>
<br><br>
Přijďte a objevte, jak přeorientovat designový proces směrem k větší efektivitě a lepším řešením, která budou radostí jak pro uživatele, tak pro vývojové týmy.
',
		linkedin: 'https://www.linkedin.com/in/kopta/',
		twitter: 'https://twitter.com/atpok',
	}
}%}

