.b-card {
	&__main {
		margin-bottom: 35px;
	}
	&__title {
		margin-bottom: 20px;
	}
	&__img {
		position: relative;
		display: inline-block;
		vertical-align: top;
		background: #d1d1d1;
		margin-bottom: 15px;
		border-radius: 50%;
		width: 150px;
		height: 150px;
		> * {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
		}
	}
	&__img img {
		opacity: 0;
		transition: opacity 0.5s;
	}
	&__list {
		@extend %reset-ul;
	}
	&__item {
		@extend %reset-ul-li;
	}
	&__item + &__item {
		margin-top: 0.6em;
	}
	&__badge {
		position: absolute;
		bottom: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		width: 40px;
		background: $colorPrimary;
	}
	&__name {
		display: block;
		margin: 0;
		font-size: 18px;
		line-height: (30/23);
		white-space: nowrap;
		text-decoration: none;
		color: $colorPrimary;
	}
	&__info {
		font-size: 16px;
	}
	&__icon {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 25px;
	}

	// MODIFICATIONs
	&--horizontal {
		position: relative;
		display: block;
		padding: 9px 0 9px 90px;
		margin-bottom: 0;
		text-align: left;
	}
	&--horizontal &__img {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 65px;
		height: 65px;
		margin-bottom: 0;
	}
	&__item--main {
		margin-bottom: $gridGutter;
	}
	&__link--icon {
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding-left: 35px;
		font-size: 16px;
		text-decoration: none;
		color: $colorPrimary;
	}

	// STATEs
	&__img img.inview {
		opacity: 1;
	}
	.no-touchevents &__name[href^="https"]:hover {
		color: $colorSecondary;
	}
	.no-touchevents &__link--icon:hover {
		color: $colorSecondary;
	}

	// MEDIA QUERIEs
	@media ($smDown) {
		&--horizontal {
			width: 270px;
		}
	}
	@media ($mdUp) {
		&__title {
			margin-bottom: 30px;
		}
		&__name {
			font-size: 23px;
		}
		&__link--icon,
		&__info {
			font-size: 18px;
		}
	}
}