.b-event {
	position: relative;
	&__info {
		margin: 0;
	}
	&__name {
		color: $colorText;
		font-weight: bold;
	}
	&__job {
		color: #757373;
		font-size: 17px;
		&::before {
			content: '/';
		}
	}
	&__title {
		display: block;
	}
	&__list {
		@extend %reset-ul;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__item {
		@extend %reset-ul-li;
		display: block;
		text-align: center;
		font-size: 12px;
		.icon-svg {
			display: block;
			margin: 0 auto;
			width: 30px;
		}
	}
	&__item + &__item {
		margin-left: 25px;
	}
	&__link {
		display: block;
	}
	&__placeholder {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100px;
		height: 100px;
		margin: 0 auto;
		background: $colorText;
		color: $colorWhite;
		font-size: 42px;
		line-height: 1;
		&::before {
			content: '{F}';
			position: absolute;
			top: 50%;
			transform: translateY(-50%) translateY(-2px);
		}
	}
	&__img img,
	&__placeholder {
		border-radius: 50%;
	}
	&__btn {
		margin-top: 50px;
	}

	// MODIFICATIONs
	&__item--disabled {
		color: #d1d1d1;
		cursor: default;
	}

	// STATEs
	.no-touchevents &__name[href^="https"]:hover {
		color: $colorSecondary;
	}
	.no-touchevents &__link--icon:hover {
		color: $colorPrimary;
	}


	// MEDIA QUEREIEs
	@media ($mdDown) {
		&__job {
			display: block;
			&::before {
				content: normal;
			}
		}
		&__img,
		&__info {
			margin-bottom: 1em;
		}
	}
	@media ($mdUp) {
		padding-left: 86px;
		&__placeholder,
		&__img img {
			width: 50px;
			height: 50px;
			font-size: 22px;
		}
		&__img {
			position: absolute;
			top: 0;
			left: 43px;
			transform: translateX(-50%);
		}
		&__info {
			padding-right: 130px;
			text-align: left;
			font-size: 18px;
		}
		&__list {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}