.b-intro {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 550px;
	background: $colorPrimary url('../img/bg/frontendisti-hero.jpg') 50% 50% no-repeat;
	background-size: cover;
	color: #fff;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $colorPrimary;
		opacity: 0.9;
	}
	&__inner {
		flex: 1 1 100%;
		text-align: center;
	}
	&__title {
		font-weight: normal;
		margin-bottom: 0;
	}
	&__title-sub {
		display: block;
		font-size: (40/45)+em;
	}

	// MODIFICATIONs
	&--sm {
		height: 310px;
		background-position-y: 40%;
	}
	&--secondary &__inner {
		padding-top: 0;
	}
}
