.b-leader {
	display: block;
	max-width: 174px;
	margin: 0 auto;
	&__title {
		margin-bottom: 20px;
	}
	&__img {
		display: block;
		margin-bottom: 20px;
	}
	&__name {
		position: relative;
		display: block;
		font-weight: 700;
		margin-bottom: 10px;
		white-space: nowrap;
	}
	&__btn {
		margin-bottom: 20px;
		text-decoration: none;
	}
	&__badge {
		position: absolute;
		color: $colorPrimary;
		right: calc(100% + 7px);
		top: 50%;
		transform: translateY(-50%) translateY(-4px);
	}
	&__list {
		@extend %reset-ul;
	}
	&__item {
		@extend %reset-ul-li;
	}

	// VARIANTs
	&--other &__name {
		margin-bottom: 0;
	}
}
