.b-meetup {
	padding-top: 30px;
	font-size: 18px;
	a {
		text-decoration: underline;
	}
	&__icon {
		display: block;
	}
	@media ($mdDown) {
		text-align: center;
		.icon-svg {
			width: 130px;
		}
	}
	@media ($mdUp) {
		padding-top: 50px;
		font-size: 30px;
		line-height: (50/30);
		&__item {
			position: relative;
			padding-left: 210px;
		}
		&__icon {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-45%);
		}
	}
}