.b-meetup {
	&__icon {
		display: block;
	}
	@media ($mdDown) {
		.icon-svg {
			width: 130px;
		}
	}
	@media ($mdUp) {
		&__item {
			position: relative;
			padding-left: 210px;
			font-size: 30px;
			line-height: (50/30);
		}
		&__icon {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-45%);
		}
	}
}