.b-organizator {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	& > :last-child {
		margin-bottom: 0;
	}

	&__img {
		display: block;
		img {
			object-fit: cover;
		}
	}
	&__title {
		display: block;
		margin-top: 20px;
		font-weight: 700;
		text-align: center;
	}
	&__desc {
		display: block;
		margin-bottom: 15px;
	}
	&__btn {
		margin: auto;
	}

	// MQs
	@media ($lgDown) {
		&__img {
			max-width: 180px;
			margin: 0 auto;
		}
	}
	@media ($mdUp) {
		&__btn {
			font-size: 16px;
		}
	}

	// PE
	@supports (-webkit-text-fill-color: transparent) {
		&__title {
			a {
				-webkit-background-clip: text;
				background-image: linear-gradient(0deg, $colorText 0%, $colorText 100%);
				-webkit-text-fill-color: transparent;
			}
		}
		// STATEs
		.hoverevents &__title a:hover {
			background-image: linear-gradient(
				135deg,
				#3cdbc0 0%,
				#3cdbc0 25%,
				#d673e8 75%,
				#d673e8 100%
			);
		}
	}
}
