.b-shedule {
	padding: 20px;
	background-color: $colorWhite;
	z-index: 2;
	position: relative;
	&__list {
		@extend %reset-ul;
	}
	&__item {
		@extend %reset-ul-li;
		display: flex;
		& + & {
			border-top: 2px solid $colorSecondary;
		}
	}
	&__col {
		padding: 15px 20px 13px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		&:first-child {
			width: 12%;
			font-weight: 600;
			color: $colorRedHover;
			justify-content: center;
		}
		&:nth-child(2) {
			width: 20%;
		}
		&:nth-child(3) {
			width: 60%;
		}
		& > :last-child {
			margin-bottom: 0;
		}
	}
	&__title {
		flex: 1 1 100%;
		font-weight: 600;
		margin-bottom: 0;
	}
	&__text {
		font-size: 16px;
		line-height: 1.8;
		flex: 1 1 100%;
		margin-top: 10px;
	}
	&__name {
		flex: 1 1 100%;
		margin-bottom: 10px;
	}
	&__company {
		font-size: 14px;
		flex: 1 1 100%;
	}

	// STATEs
	&__item.is-highlighted {
		background-color: rgba($colorRed, 0.1);
	}
	.hoverevents &__title[href]:hover {
		color: $colorRedHover;
	}
}
