.b-social {
	position: relative;
	&__icon {
		height: 60px;
		width: 60px;
		margin-bottom: 10px;
		color: $colorSecondary;
		transition: color $t;
	}
	&__title {
		margin-bottom: 10px;
		margin-top: 0;
		color: $colorSecondary;
		transition: color $t;
	}
	> :last-child {
		margin-bottom: 0;
	}

	// HOVERs
	.no-touchevents &:hover &__title,
	.no-touchevents &:hover &__link {
		color: #fff;
	}
	.no-touchevents &:hover .icon-svg {
		color: darken($colorSecondary, 10%);
	}

	// MEDIA QUERIEs
	@media ($mdUp) {
		&__icon {
			height: 90px;
			width: 90px;
			margin-bottom: 20px;
		}
	}
}