.b-success {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: $colorSecondary;
	color: $colorWhite;
	text-align: center;
	strong {
		color: $colorPrimary;
	}
	&__inner {
		@extend .u-max-width--4-12;
		margin: 0 auto;
		& > :last-child {
			margin-bottom: 0;
		}
	}
}
