{% from "../macros/helpers.njk" import iconSVG %}
<!DOCTYPE html>
<html lang="cs" class="no-js">
	<head>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="{{ pageTitle }} | Frontendisti.cz">
		<meta name="twitter:description" content="">
		<meta name="twitter:image" content="http://www.example.com/image.jpg">

		<meta property="og:title" content="{{ pageTitle }} | Frontendisti.cz">
		<meta property="og:description" content="">
		<meta property="og:image" content="http://www.example.com/image.jpg">
		<meta property="og:site_name" content="Frontendisti.cz">
		<meta property="og:url" content="http://www.example.com/">

		<title>{{ pageTitle }} | Frontendisti.cz</title>

		<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap&subset=latin-ext" rel="stylesheet">
		<link rel="stylesheet" href="{{ assets.styles }}style.css" media="screen,handheld">
		<link rel="stylesheet" href="{{ assets.styles }}print.css" media="print">

		<link rel="shortcut icon" href="{{ assets.images }}favicon.ico">

		<script src="{{ assets.scripts }}modernizr.min.js"></script>
		<script>
			(function () {
				var className = document.documentElement.className;
				className = className.replace('no-js', 'js');

				if (window.name.indexOf('fontsLoaded=true') > -1) {
					className += ' fonts-loaded';
				}

				document.documentElement.className = className;
			}());
		</script>
	</head>
	<body>
		<p class="m-accessibility">
			<a title="Přejít k obsahu (Klávesová zkratka: Alt + 2)" accesskey="2" href="#main" class="js-smooth-scroll">
				Přejít k obsahu
			</a>
			<span class="hide">|</span>
			<a href="#menu-main" class="js-smooth-scroll">
				Přejít k hlavnímu menu
			</a>
		</p>

		<header role="banner" class="header">
			<div class="row-main">
				<div class="header__wrap">
					{% if isHomepage %}
						<h1 class="header__logo">
							<img src="{{ assets.images }}logo-frontendisti.svg" alt="Frontendisti.cz">
						</h1>
					{% else %}
						<p class="header__logo">
							<a href="./">
								<img src="{{ assets.images }}logo-frontendisti.svg" alt="Frontendisti.cz">
							</a>
						</p>
					{% endif %}
					<div class="header__menu">
						<nav id="menu-main" class="m-main" aria-label="Main Menu" >
							<button class="m-mobile-menu btn js-toggleMobileMenu" data-text="Menu" data-text-close="Zavřít">
								<span class="m-mobile-menu__icon"></span>
								<span class="u-vhide">Mobilní menu</span>
							</button>
							<ul class="m-main__list">
								<li class="m-main__item">
									<a href="#partners" class="m-main__link js-smooth-scroll">
										Partneři
									</a>
								</li>
								<li class="m-main__item">
									<a href="#team" class="m-main__link js-smooth-scroll">
										Tým
									</a>
								</li>
								<li class="m-main__item">
									<a href="#" class="m-main__link">
										Kontakt
									</a>
								</li>
								<li class="m-main__item">
									<a href="#" class="m-main__link m-main__link--cta">
										Přidej se
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>

		{% block content %}
		{% endblock %}

		<footer role="contentinfo" class="footer u-pt-xl">
			<div class="row-main">
				<div class="u-mb-xl">
					<p class="footer__copyright">
						&copy; 2014&ndash;2019 Spolek Frontendisti.cz
					</p>
					<p class="footer__provider">
						Provozuje Spolek Frontendisti.cz zapsaný u Městského soudu v Praze<br>
						Antala Staška 1565/30, Praha 4, 140 00 | IČ: 03591263
					</p>
				</div>
			</div>
		</footer>
		<!--[if (gte IE 9) | (!IE)]><!-->
			{# <script src="{{ assets.scripts }}jquery-2.2.4.min.js"></script> #}
			<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.includes,Object.values,Array.prototype.find"></script>
			<script src="{{ assets.scripts }}app.js"></script>
			<script>
				App.run({})
			</script>
		<!--<![endif]-->
	</body>
</html>
