<section role="region" id="team" class="c-leaders">
	<div class="row-main">
		<h2 class="c-leaders__title">
			Our team<br>
			and contacts
		</h2>
		<div class="c-others u-mb-xl u-max-width--6-12 u-mx-auto">
			<h3 class="c-others__title">
				Management staff
			</h3>
			<ul class="c-others__list grid">
				<li class="c-others__item grid__cell size--6-12 size--4-12@md">
					<span class="b-leader b-leader--other u-text-center">
						<span class="b-leader__img">
							<img src="{{ assets.images }}illust/martin-michalek.jpg" alt="Photo - Martin Michálek" width="174" height="174" loading="lazy">
						</span>
						<span class="b-leader__name">
							Martin Michálek
						</span>
						<span class="b-leader__info u-font-sm">
							chairman
						</span>

						<div class="u-font-xs">
							<a href="https://www.linkedin.com/in/martinmichalek/">LinkedIn</a>,
							<a href="mailto:martin.michalek@frontendisti.cz">e-mail</a>
						</div>
					</span>
				</li>

				<li class="c-others__item grid__cell size--6-12 size--4-12@md">
					<span class="b-leader b-leader--other u-text-center">
						<span class="b-leader__img">
							<img src="{{ assets.images }}illust/tomas-hejc.jpg" alt="Photo - Tomáš Hejč" width="174" height="174" loading="lazy">
						</span>
						<span class="b-leader__name">
							Tomáš Hejč
						</span>
						<span class="b-leader__info u-font-sm">
							Brno, partners
						</span>

						<div class="u-font-xs">
							<a href="https://www.linkedin.com/in/tomashejc">LinkedIn</a>,
							<a href="mailto:tomas.hejc@frontendisti.cz">e-mail</a>
						</div>
					</span>
				</li>

				<li class="c-others__item grid__cell size--6-12 size--4-12@md">
					<span class="b-leader b-leader--other u-text-center">
						<span class="b-leader__img">
							<img src="{{ assets.images }}illust/bretislav-proft.jpg" alt="Photo - Břetislav Proft" width="174" height="174" loading="lazy">
						</span>
						<span class="b-leader__name">
							Břetislav Proft
						</span>
						<span class="b-leader__info u-font-sm">
							Prague
						</span>

						<div class="u-font-xs">
							<a href="https://cz.linkedin.com/in/bretislav-proft">LinkedIn</a>,
							<a href="mailto:bretislav.proft@frontendisti.cz">e-mail</a>
						</div>
					</span>
				</li>

			</ul>
		</div>


		<div class="c-others u-mb-xl u-max-width--6-12 u-mx-auto">
			<h3 class="c-others__title">
				Other collaborators
			</h3>
			<ul class="u-font-sm">
				<li><a href="https://www.linkedin.com/in/adina-foxova/">Adina Foxová</a> (Prague, moderator)</li>
				<li><a href="https://www.linkedin.com/in/danielstrelec/">Daniel Střelec</a> (Ostrava, Facebook)</li>
				<li><a href="https://www.linkedin.com/in/eduardstula/">Eduard Štůla</a> (Pilsen)</li>
				<li><a href="https://www.linkedin.com/in/janforejt/">Jan Forejt</a> (video)</li>
				<li><a href="https://www.linkedin.com/in/jananecasova4/">Jana Nečasová</a> (Brno)</li>
				<li><a href="https://www.linkedin.com/in/ji%C5%99%C3%AD-cerhan-02b30332/">Jiří Cerhan</a> (Prague)</li>
				<li><a href="https://www.linkedin.com/in/martinpesout/">Martin Pešout</a> (Brno)</li>
				<li><a href="https://www.linkedin.com/in/robinpokorny/">Robin Pokorný</a> (co-founder)</li>
				<li><a href="https://www.linkedin.com/in/tom%C3%A1%C5%A1-kout/">Tomáš Kout</a> (Praha, moderator)</li>
				<li><a href="#">Verča Urbášková</a> (social media)</li>
				<li><a href="https://www.linkedin.com/in/viktordanko/">Viktor Daňko</a> (Brno, web, moderator)</li>
				<li><a href="https://www.linkedin.com/in/zuzana-sumlanska/">Zuzana Šumlanská</a> (Brno, newsletter)</li>
			</ul>
		</div>
	</div>
</section>
