$background: (
	background-color: (
		default: $colorBg,
		primary: $colorPrimary,
		secondary: $colorPurpleBg,
		tertiary: $colorBlueBg,
		mint: $colorMintBg,
	),
);
.u-bg {
	@include make-utils(false, $background);
}
