$color: (
	color: (
		primary: $colorPrimary,
		secondary: $colorSecondary,
		green: $colorGreen,
		blue: $colorBlue,
		dark-blue: $colorBlueText,
	),
);
.u-color {
	@include make-utils(false, $color);
}
