.u-mb {
	&-0 {
		margin-bottom: 0;
	}
	&-xs {
		margin-bottom: ($sizeXs/2);
	}
	&-sm {
		margin-bottom: $sizeXs;
	}
	&-md {
		margin-bottom: $sizeSm;
	}
	&-lg {
		margin-bottom: ($sizeMd/2);
	}
	&-xl {
		margin-bottom: ($sizeLg/2);
	}
	&-xxl {
		margin-bottom: ($sizeXl/2);
	}

	@media ($lgUp) {
		&-xs {
			margin-bottom: $sizeXs;
		}
		&-sm {
			margin-bottom: $sizeSm;
		}
		&-md {
			margin-bottom: $sizeMd;
		}
		&-lg {
			margin-bottom: $sizeLg;
		}
		&-xl {
			margin-bottom: $sizeXl;
		}
		&-xxl {
			margin-bottom: $sizeXxl;
		}
	}
}

.u-pt {
	&-xs {
		padding-top: ($sizeXs/2);
	}
	&-sm {
		padding-top: $sizeXs;
	}
	&-md {
		padding-top: $sizeSm;
	}
	&-lg {
		padding-top: ($sizeMd/2);
	}
	&-xl {
		padding-top: ($sizeLg/2);
	}
	&-xxl {
		padding-top: ($sizeXl/2);
	}

	@media ($lgUp) {
		&-xs {
			padding-top: $sizeXs;
		}
		&-sm {
			padding-top: $sizeSm;
		}
		&-md {
			padding-top: $sizeMd;
		}
		&-lg {
			padding-top: $sizeLg;
		}
		&-xl {
			padding-top: $sizeXl;
		}
		&-xxl {
			padding-top: $sizeXxl;
		}
	}
}
.u-pb {
	&-xs {
		padding-bottom: ($sizeXs/2);
	}
	&-sm {
		padding-bottom: $sizeXs;
	}
	&-md {
		padding-bottom: $sizeSm;
	}
	&-lg {
		padding-bottom: ($sizeMd/2);
	}
	&-xl {
		padding-bottom: ($sizeLg/2);
	}
	&-xxl {
		padding-bottom: ($sizeXl/2);
	}

	@media ($lgUp) {
		&-xs {
			padding-bottom: $sizeXs;
		}
		&-sm {
			padding-bottom: $sizeSm;
		}
		&-md {
			padding-bottom: $sizeMd;
		}
		&-lg {
			padding-bottom: $sizeLg;
		}
		&-xl {
			padding-bottom: $sizeXl;
		}
		&-xxl {
			padding-bottom: $sizeXxl;
		}
	}
}
.u-mt {
	&-0 {
		margin-top: 0;
	}
}
.u-lc-0 > :last-child {
	margin-bottom: 0;
}
.u-mx-auto {
	margin-right: auto;
	margin-left: auto;
}
