.u-mb-xs {
	margin-bottom: $gridGutter / 4;
}
.u-mb-sm {
	margin-bottom: $gridGutter / 2;
}
.u-mb-md {
	margin-bottom: $gridGutter;
}
.u-mb-lg {
	margin-bottom: $gridGutter;
}
.u-mb-xl {
	margin-bottom: $gridGutter * 2;
}
.u-mb-0 {
	margin-bottom: 0;
}
.u-mt-0 {
	margin-top: 0;
}
.u-mt-md {
	&#{&} {
		margin-top: $gridGutter;
	}
}
.u-mt-lg {
	&#{&} {
		margin-top: $gridGutter * 2;
	}
}
.u-mx-auto {
	margin-right: auto;
	margin-left: auto;
}
.u-pt-xl {
	padding-top: $gridGutter * 2;
}
.u-pb-xl {
	padding-bottom: $gridGutter * 3;
}

// MEDIA QUERIEs
@media ($mdUp) {
	.u-mb-xs {
		margin-bottom: $gridGutter / 2;
	}
	.u-mb-sm {
		margin-bottom: $gridGutter;
	}
	.u-mb-md {
		margin-bottom: $gridGutter * 2;
	}
	.u-mb-lg {
		margin-bottom: $gridGutter * 3;
	}
	.u-mb-xl {
		margin-bottom: $gridGutter * 4;
	}
	.u-mt-md {
		&#{&} {
			margin-top: $gridGutter * 2;
		}
	}
	.u-mt-lg {
		&#{&} {
			margin-top: $gridGutter * 3;
		}
	}
	.u-pt-xl {
		padding-top: $gridGutter * 4;
	}
	.u-pb-xl {
		padding-bottom: $gridGutter * 4;
	}
}
