$numberOfMenuItems: 5;

.m-main {
	font-size: 14px;
	&__list {
		@extend %reset-ul;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__item {
		@extend %reset-ul-li;
		flex: 0 0 auto;
	}
	&__link {
		display: block;
		color: $colorText;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;
		padding-left: 15px;
		padding-right: 15px;
		letter-spacing: 0.15em;
		white-space: nowrap;
	}

	// STATEs
	&__link.is-active,
	.hoverevents &__link:hover {
		color: $colorBlue;
	}
	&__item.is-highlighted &__link {
		color: $colorRed;
	}
	[data-state="menu-opened"] & {
		visibility: visible;
		opacity: 1;
		z-index: 100;
		&__item {
			visibility: visible;
			opacity: 1;
			transform: translateX(0);
			transition: opacity $t linear, visibility $t ease, transform $t ease;
		}
		@for $i from 1 through $numberOfMenuItems {
			&__item:nth-child(#{$i}) {
				transition-delay: #{0.23 + ($i * 0.1)}s;
			}
		}
	}

	// MEDIA QUERIEs
	@media ($mdDown) {
		position: fixed;
		top: 50%;
		left: 0;
		width: 100%;
		visibility: hidden;
		opacity: 0;
		transform: translate(0, -50%);
		transition: opacity $t linear, visibility $t 0.01s;
		&__list {
			flex-direction: column;
		}
		&__item {
			visibility: hidden;
			opacity: 0;
			transform: translate(0, -100%);
			transition: opacity $t linear, visibility $t ease, transform $t ease;
			& + & {
				margin-top: 60px;
			}
			@for $i from 1 through $numberOfMenuItems {
				&:nth-child(#{$i}) {
					transition-delay: #{0.1 + ($i * 0.15)}s;
				}
			}
		}
		&__link {
			color: $colorBg;
		}
	}

	@media ($mdUp) {
		margin-bottom: 120px;
		&__item + &__item {
			margin-left: 15px;
		}
	}
}
