.m-main {
	font-size: 18px;
	font-weight: bold;
	&__list {
		@extend %reset-ul;
	}
	&__item {
		@extend %reset-ul-li;
	}
	&__link {
		display: block;
		padding: 4px 15px 5px;
		color: #fff;
		text-decoration: none;
	}

	// STATEs
	.no-touchevents &__link:hover {
		color: $colorSecondary;
	}
	.no-touchevents &__link--cta:hover {
		color: #fff;
		background-color: darken($colorLink, 5%);
	}

	// MODIFICATIONs
	&__link--cta {
		background-color: $colorSecondary;
		color: $colorPrimary;
		transition: background-color $t, color $t;
	}
	.header--u-bg-inverse & {
		&__logo,
		&__link {
			color: $colorPrimary;
		}
	}

	// MEDIA QUERIEs
	@media ($mdDown) {
		&__list {
			position: absolute;
			top: calc(100% + 25px);
			left: -$gridGutter;
			right: -$gridGutter;
			text-align: center;
			opacity: 0;
			visibility: hidden;
			transition: visibility 0s $t, opacity $t;
		}
		.is-opened & {
			&__list {
				position: absolute;
				background: $colorPrimary;
				opacity: 1;
				visibility: visible;
				z-index: 100;
				transition-delay: 0s;
			}
		}
		.header--u-bg-inverse & {
			&__logo,
			&__link {
				color: #fff;
			}
		}
	}
	@media ($mdUp) {
		&__list {
			display: flex;
			align-items: center;
			transform: none;
		}
		&__item:last-child  {
			margin-left: 15px;
		}
		&__link {
			border-radius: 4px;
		}
	}
}
