.m-main {
	font-size: 18px;
	font-weight: bold;
	&__list {
		@extend %reset-ul;
		transition: opacity $t, visibility 0s $t;
	}
	&__item {
		@extend %reset-ul-li;
	}
	&__link {
		padding: 4px 15px 6px 15px;
		color: #fff;
		text-decoration: none;
		border-radius: 4px;
		display: block;
	}

	// STATEs
	.no-touchevents &__link:hover {
		color: $colorSecondary;
	}
	.no-touchevents &__link--cta:hover {
		color: #fff;
	}

	// MODIFICATIONs
	&__link--cta {
		background-color: $colorSecondary;
		color: $colorPrimary;
	}
	.header--inverse & {
		&__logo,
		&__link {
			color: $colorPrimary;
		}
	}

	// MEDIA QUERIEs
	@media ($mdDown) {
		&__list {
			position: absolute;
			top: 100%;
			left: -$gridGutter;
			right: -$gridGutter;
			text-align: center;
			opacity: 0;
			visibility: hidden;
		}
		.is-opened & {
			&__list {
				position: absolute;
				background: $colorPrimary;
				opacity: 1;
				visibility: visible;
				z-index: 10;
				transition-delay: 0s;
			}
		}
		.header--inverse & {
			&__logo,
			&__link {
				color: #fff;
			}
		}
	}
	@media ($mdUp) {
		&__list {
			display: flex;
			align-items: center;
			transform: none;
		}
		&__item:last-child  {
			margin-left: 15px;
		}
	}
}
