.blog-content {
	display: grid;
	grid-template-columns:
		1fr
		min(80ch, 100%)
		1fr;
	font-family: Georgia;
	font-size: 19px;
	line-height: 1.7;
	& > * {
		grid-column: 2;
	}
	p {
		letter-spacing: normal;
	}
	ul li {
		background-position: 12px 0.66em;
		background-size: 0.4em 0.4em;
	}
	a {
		color: $colorText;
		text-decoration: underline;
		font-weight: normal;
		text-decoration-color: $colorPrimary;
	}

	.hoverevents & a:hover {
		color: $colorPrimary;
	}

	@media ($xlUp) {
		img {
			width: 100%;
		}
	}
}
