.row-main {
	@include clearfix();
	position: relative;
	margin: 0 auto;
	padding: 0 $rowMainGutter;
	max-width: $rowMainWidth;
}
.grid {
	@extend %reset-ol;
	@extend %grid;
	margin-left: -($gridGutter);
	margin-bottom: -($gridGutter);
	&__cell {
		@extend %reset-ol-li;
		@extend %grid__cell;
		position: relative;
		border: $gridGutter solid transparent;
		 // hide the border in MS high contrast mode
		border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3C/svg%3E");
		border-width: 0 0 $gridGutter $gridGutter;
		&--top {
			align-self: flex-start;
		}
		&--middle {
			align-self: center;
		}
		&--bottom {
			align-self: flex-end;
		}
		&--eq {
			display: flex;
			> * {
				flex: 1 1 auto;
			}
		}
	}

	// VARIANTs
	&--scroll {
		@extend %grid--scroll;
	}
	&--nowrap {
		flex-wrap: nowrap;
	}
	&--middle {
		align-items: center;
	}
	&--bottom {
		align-items: flex-end;
	}
	&--center {
		justify-content: center;
	}
	&--right {
		justify-content: flex-end;
	}
	&--space-between {
		justify-content: space-between;
	}

	// GRID SPACINGs
	&--lg {
		margin-left: -($gridGutter * 2);
		margin-bottom: -($gridGutter * 2);
	}
	&--lg > &__cell {
		border-left-width: $gridGutter * 2;
		border-bottom-width: $gridGutter * 2;
<<<<<<< HEAD
	}

	&--x-md {
		margin-left: -$gridGutter;
	}

	&--x-md > &__cell {
		border-left-width: $gridGutter;
	}

	&--x-lg {
		margin-left: -($gridGutter * 3);
	}

	&--x-lg > &__cell {
		border-left-width: ($gridGutter * 3);
	}

	&--x-xl {
		margin-left: -($gridGutter * 4);
=======
	}

	&--x-md {
		margin-left: -$gridGutter;
>>>>>>> Grid gutters and spacings are unified
	}

	&--x-md > &__cell {
		border-left-width: $gridGutter;
	}

	&--y-xl {
		margin-bottom: -($gridGutter * 3);
	}
	&--y-xl > &__cell {
		border-bottom-width: ($gridGutter * 3);
	}

	// MEDIA QUERIEs
	@media ($mdUp) {
		&--lg {
			margin-left: -($gridGutter * 3);
			margin-bottom: -($gridGutter * 3);
		}
		&--lg > &__cell {
			border-left-width: ($gridGutter * 3);
			border-bottom-width: ($gridGutter * 3);
		}

		&--x-md {
			margin-left: -($gridGutter * 2);
		}

		&--x-md > &__cell {
			border-left-width: ($gridGutter * 2);
		}

<<<<<<< HEAD
		&--y-lg {
=======
		&--y-xl {
>>>>>>> Grid gutters and spacings are unified
			margin-bottom: -($gridGutter * 4);
		}
		&--y-xl > &__cell {
			border-bottom-width: ($gridGutter * 4);
		}
	}
}
.size {
	@include generateGridSize();
}
// .push {
// 	@include generateGridPush();
// }
// .pull {
// 	@include generateGridPull();
// }
// .order {
// 	@include generateGridOrder();
// }
