.section-anchor {
	position: relative;
	padding-left: 20px;
	&__link {
		position: absolute;
		left: 0;
		background-image: url($svgAnchorShare);
		background-position: center 60%;
		background-repeat: no-repeat;
		color: transparent;
		background-size: 1em 0.5em;
		opacity: 0;
		transition: opacity $t;
	}

	// VARIANTs
	&__link--program {
		background-image: url($svgAnchorShareRed);
	}

	// MQs
	@media ($mdUp) {
		padding-left: 30px;
	}

	// STATEs
	.no-hoverevents &__link,
	&:hover &__link {
		opacity: 1;
		color: transparent;
	}
	&__link:hover {
		color: transparent;
	}
}
