<section class="b-conference">
	<h2>
		Komunitní konference FrontKon&nbsp;2023 bude!
	</h2>
	<p>
		12. října 2023 | <a href="https://www.qualityhotelbrnoexhibitioncentre.com/cs/konference/">Quality Hotel Brno</a>.
	</p>
	<p>
		<a href="/konference" class="btn btn--cta">
			<span class="btn__inner">
				www.fronkon.cz
			</span>
		</a>
	</p>
</section>
