<section class="b-conference">
	<h2>
		Historicky první česká frontendová konference
	</h2>
	<p>
		DNES | on-line
	</p>
	<p>
		<a href="/konference" class="btn btn--cta">
			<span class="btn__inner">
				Více informací
			</span>
		</a>
	</p>
</section>
