<section class="b-conference">
	<h2>
		Konference
	</h2>
	<p>
		Sobota 29.&nbsp;5.&nbsp;2021 | on-line
	</p>
	<p>
		<a href="/konference" class="btn btn--cta">
			<span class="btn__inner">
				Chci přijít
			</span>
		</a>
	</p>
</section>