<section class="b-conference" data-meetup>
	<h2 data-meetup-label class="inline-skeleton"></h2>
		<p data-meetup-name class="inline-skeleton"></p>
		<p data-meetup-date class="inline-skeleton"></p>
	<p class="u-hide" data-meetup-button>
		<a href="/meetup" class="btn btn--cta" data-meetup-link rel="noopener noreferrer" target="_blank" >
			<span class="btn__inner">
				Více informací
			</span>
		</a>
	</p>
</section>
