<section class="b-conference" data-meetup>
	<h2>
		Nejbližší meetup
	</h2>
	<p>
		<a href="https://www.meetup.com/frontendisti/events/" class="btn btn--cta">
			<span class="btn__inner">
				Více informací
			</span>
		</a>
	</p>
</section>
