<div>
	<h2 class="u-text-center u-pt-sm u-red inline-skeleton" data-meetup-label></h2>
	<div class="grid">
		<div class="grid__cell size--4-12@md" data-meetup-gridcell>
			<section class="b-conference" data-meetup>
				<p class="u-font-md" data-meetup-name class="inline-skeleton"></p>
				<p class="u-font-sm" data-meetup-date class="inline-skeleton"></p>
				<p class="u-hide" data-meetup-button>
					<a href="/meetup" class="btn btn--cta" data-meetup-link rel="noopener noreferrer" target="_blank" >
						<span class="btn__inner">
							Více informací
						</span>
					</a>
				</p>
			</section>
		</div>
		<div class="grid__cell size--4-12@md u-hide" data-second-meetup>
			<section class="b-conference2">
				<p class="u-font-md" data-second-meetup-name></p>
				<p class="u-font-sm" data-second-meetup-date></p>
				<p class="u-hide" data-second-meetup-button>
					<a href="/meetup" class="btn btn--cta" data-second-meetup-link rel="noopener noreferrer" target="_blank" >
						<span class="btn__inner">
							Více informací
						</span>
					</a>
				</p>
			</section>
		</div>
		<div class="grid__cell size--4-12@md" data-third-meetup>
			<section class="b-conference2">
				<p class="u-font-md">Komunitní konference FrontKon&nbsp;2023</p>
				<p class="u-font-sm">12. října 2023 | <a href="https://www.qualityhotelbrnoexhibitioncentre.com/cs/konference/">Quality Hotel Brno</a>.</p>
				<p>
					<a href="/konference" class="btn btn--cta" data-second-meetup-link rel="noopener noreferrer" target="_blank" >
						<span class="btn__inner">
							www.fronkon.cz
						</span>
					</a>
				</p>
			</section>
		</div>


	</div>
</div>
