<div>

			<section class="b-conference2">
				<p class="u-font-md">Komunitní konference FrontKon&nbsp;2023</p>
				<p class="u-font-sm">12. 10. 2023 | <a href="https://www.qualityhotelbrnoexhibitioncentre.com/cs/konference/">Quality Hotel Brno</a>.</p>
				<p>
					<a href="/konference" class="btn btn--cta" data-second-meetup-link rel="noopener noreferrer" target="_blank" >
						<span class="btn__inner">
							www.frontkon.cz
						</span>
					</a>
				</p>
			</section>

</div>
