@import 'base/normalize';
@import 'base/variables';
@import 'base/mixins';
@import 'base/extends';
@import 'utilities/index';
@import 'print/index';

body {
	width: 100%;
	font-family: $fontSystem;
	color: $colorBlack;
	background: none;
	font-size: 8pt;
	line-height: 12pt;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

p,
ul,
table {
	margin: 0 0 .4cm;
}

a {
	color: $colorBlack;
	text-decoration: none;
}

img {
	border: 0;
	max-width: 100%;
	height: auto;
}
