.c-events {
	position: relative;
	& + & {
		padding-top: $gridGutter * 2;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: calc(100vw - 15px);
			height: 1px;
			background-color: $colorBd;
		}
	}
	&__info {
		font-size: 17px;
	}
	&__link {
		display: block;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	&__list > * + * {
		margin-top: 50px;
	}

	// MEDIA QUERIEs
	@media ($lgDown) {
		.row-main--sm {
			padding: 0;
		}
	}
	@media ($mdDown) {
		&__partners {
			justify-content: center;
			margin-top: 15px;
		}
	}
	@media ($mdUp) {
		& + & {
			padding-top: $gridGutter * 4;
		}
	}
}