.c-gallery {
	$c: &;
	padding: 0 16px;
	margin: 0 -16px;
	overflow: hidden;
	&__title {
		@extend .u-max-width--9-12;
		margin-bottom: 48px;
		margin-left: auto;
		position: relative;
	}
	&__list {
		position: relative;
	}
	&__overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 28px 0 30px;
		text-align: center;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 2;
			height: 100%;
			background: linear-gradient(to top, #f5fffd, rgba(#f5fffd, 0.5));
			pointer-events: none;
		}
		p {
			margin-bottom: 0;
		}
		.btn {
			position: relative;
			z-index: 3;
		}
		.btn .icon-svg {
			top: -2px;
		}
	}

	// VARIANTs
	&--overlay {
		#{$c}__list {
			margin-bottom: -212px;
		}
		#{$c}__item {
			border-bottom-width: 32px;
		}
	}
	&--program {
		#{$c}__list {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(380px, 550px));
			grid-gap: $gridGutter;
			justify-content: center;
			max-width: none;
		}
		#{$c}__item {
			border-bottom-width: 32px;
		}
	}

	// MQs
	@media ($mdUp) {
		&__title {
			margin-bottom: 93px;
		}
		&--overlay {
			#{$c}__list {
				margin-bottom: -312px;
			}
			#{$c}__overlay {
				padding: 70px 0 76px;
			}
		}
		&--program {
			#{$c}__list {
				grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
			}
		}
	}
	@media ($lgUp) {
		&--overlay {
			#{$c}__list {
				margin-bottom: -152px;
			}
			&__item {
				border-bottom-width: 62px;
			}
		}
	}
	@media ($mdDown) and ($smUp) {
		// &--program {
		// 	#{$c}__list {
		// 		max-width: 80%;
		// 		margin: 0 auto;
		// 	}
		// }
	}
}
