.c-organizators {
	&__list {
		margin-bottom: -32px;
	}
	&__item {
		border-bottom-width: 32px;
	}
	@media ($smUp) {
		&__list {
			margin-bottom: -64px;
		}
		&__item {
			border-bottom-width: 64px;
		}
	}
	@media ($xlDown) and ($lgUp) {
		max-width: 820px;
		margin: 0 auto;
	}
}
