.c-partners {
	margin-bottom: 96px;
	&__title {
		@extend .u-max-width--8-12;
		margin-left: auto;
		margin-bottom: 80px;
	}
	&__list {
		margin-left: -($gridGutter * 4);
		margin-bottom: -($gridGutter * 4);
	}
	&__item {
		border-left-width: ($gridGutter * 4);
		border-bottom-width: ($gridGutter * 4);
	}
	&__cta {
		text-align: center;
		position: relative;
		margin-top: 150px;
		z-index: 1;
		font-weight: 500;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 300px;
			height: 300px;
			border-radius: 50%;
			background-image: radial-gradient(
				circle,
				rgba(33, 255, 67, 0.2) 0%,
				#f5fffd 70%
			);
		}
		p {
			margin-bottom: 32px;
		}
		& > :last-child {
			margin-bottom: 0;
		}
		> * {
			position: relative;
		}
	}

	// MEDIA QUERIEs
	@media ($smDown) {
		&__item {
			text-align: center;
		}
	}
	@media ($smUp) {
		&__list {
			margin-bottom: -($gridGutter * 8);
			margin-left: -($gridGutter * 8);
		}
		&__item {
			border-bottom-width: ($gridGutter * 8);
			border-left-width: ($gridGutter * 8);
		}
	}
	@media ($mdUp) {
		margin-bottom: 140px;
		&__title {
			margin-bottom: 96px;
		}
		&__cta::before {
			width: 400px;
			height: 400px;
		}
	}
}
