.c-sponzors {
	padding-bottom: 56px;
	&__title {
		@extend .u-max-width--8-12;
		margin-left: auto;
		margin-bottom: 80px;
	}
	&__list {
		margin-left: -($gridGutter * 2);
		margin-bottom: -($gridGutter * 2);
	}
	&__item {
		text-align: center;
		border-left-width: ($gridGutter * 2);
		border-bottom-width: ($gridGutter * 2);
	}
	&__link {
		display: inline-block;
	}

	// VARIANTs
	&--main &__item:first-of-type {
		border-bottom-width: ($gridGutter * 6);
	}

	// MEDIA QUERIEs
	@media ($smDown) {
		&__item {
			text-align: center;
		}
	}
	@media ($smUp) {
		&__list {
			margin-bottom: -($gridGutter * 4);
			margin-left: -($gridGutter * 4);
		}
		&__item {
			border-bottom-width: ($gridGutter * 4);
			border-left-width: ($gridGutter * 4);
		}
	}
	@media ($mdUp) {
		padding-bottom: 144px;
		&__title {
			margin-bottom: 96px;
		}
		&__cta::before {
			width: 400px;
			height: 400px;
		}

		// VARIANTs
		&--main {
			padding-bottom: 72px;
		}
	}
}
