{% for meetup in meetups | reverse %}
	{% if meetup %}
		<section role="region" class="c-events">
			<div class="row-main row-main--sm">
				<div class="u-max-width--8-12 u-mx-auto u-mb-md">
					<h3 class="u-font-bold">
						{{ meetup.title }}
					</h3>
					<div class="c-events__info">
						<p>
							{{ meetup.venue }}
						</p>
						{% if meetup.sponsors %}
							<ul class="c-events__partners">
								{% for sponsor in meetup.sponsors %}
									<li class="c-events__partner">
										<a class="c-events__link" href="{{ sponsor.url }}" target="_blank" rel="noreferrer noopener">
											<img src="{{ sponsor.avatar }}" width="{{ partner.imgWidth }}" height="{{ partner.imgHeight }}"alt="Logo společnosti {{ sponsor.title }}">
										</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				</div>
				<div class="c-events__wrap u-mb-xl">
					{% if meetup.talks %}
					<div class="c-events__list">
						{% for talk in meetup.talks %}
							<div class="c-events__item">
								<article role="article" class="b-event">
									<div class="b-event__img">
										{% if talk.speaker.img %}
											<img src="{{ talk.speaker.avatar }}" alt="talk.speaker.name" width="50" height="50">
										{% else %}
											<span class="b-event__placeholder"></span>
										{% endif %}
									</div>
									<p class="b-event__info">
										{% if talk.speaker.name %}
											<a href="{{ talk.speaker.url }}" class="b-event__name" target="_blank" rel="noopener noreferrer">
												{{ talk.speaker.name }}
											</a>
										{% endif %}
										{% if talk.speaker.bio %}
											<span class="b-event__job">
												{{ talk.speaker.bio }}
											</span>
										{% endif %}
										{% if talk.title %}
											<span class="b-event__title">
												{{ talk.title }}
											</span>
										{% endif %}
									</p>
									<ul class="b-event__list">
										{% if talk.speaker.youtube %}
											<li class="b-event__item">
												<a href="{{ talk.speaker.youtube }}" class="b-event__link b-event__link--icon" target="_blank" rel="noopener noreferrer">
													{{ iconSVG('youtube', 'b-event__icon') }}
													Video
												</a>
											</li>
											{% else %}
											<li class="b-event__item b-event__item--disabled">
												{{ iconSVG('youtube', 'b-event__icon') }}
												Video
											</li>
										{% endif %}
										{% if talk.speaker.presentation %}
											<li class="b-event__item">
												<a href="{{ talk.speaker.presentation }}" class="b-event__link b-event__link--icon" target="_blank" rel="noopener noreferrer">
													{{ iconSVG('slideshare', 'b-event__icon') }}
													Prezentace
												</a>
											</li>
										{% else %}
											<li class="b-event__item b-event__item--disabled">
												{{ iconSVG('slideshare', 'b-event__icon b-event__icon--disabled') }}
												Prezentace
											</li>
										{% endif %}
									</ul>
								</article>
							</div>
						{% endfor %}
					</div>
					{% endif %}
					{% if meetup.youtubePlaylist %}
						<p class="b-event__btn">
							<a href="{{ meetup.youtubePlaylist }}" class="item-icon item-icon--before">
								{{ iconSVG('youtube') }}
								Všechny přednášky v playlistu
							</a>
						</p>
					{% endif %}
				</div>
			</div>
		</section>
	{% endif %}
{% endfor %}
