{% for meetup in meetups | reverse %}
	{% if meetup %}
		<section role="region" class="c-events">
			<div class="row-main row-main--sm">
				<div class="u-max-width--8-12 u-mx-auto u-mb-md">
					<h3 class="u-font-bold">
						{{ meetup.title }}
					</h3>
					<div class="c-events__info">
						<p class="c-events__date">
							{{ meetup.date | date('D. M. YYYY') }}, {{ meetup.venue }}
						</p>
						{% if meetup.sponsors.length %}
							<ul class="c-events__partners grid grid--center grid--middle">
								{% for sponsor in meetup.sponsors %}
									<li class="c-events__partner grid__cell size--auto">
										<a class="c-events__link" href="{{ sponsor.url }}" target="_blank" rel="noreferrer noopener">
											<img src="{{ sponsor.avatar }}" width="{{ sponsor.avatarSize.width }}" height="auto" alt="Logo společnosti {{ sponsor.title }}">
										</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				</div>
				<div class="c-events__wrap u-mb-xl">
					{% if meetup.talks %}
					<div class="c-events__list">
						{% for talk in meetup.talks %}
							<div class="c-events__item">
								<article role="article" class="b-event">
									<div class="b-event__img">
										{% if talk.speaker.avatar %}
											<picture>
												<source type="image/webp" media="(min-width: 750px)" data-srcset="https://skyproxy.superkoders.rocks/frontendisti{{ talk.speaker.avatar }}?w=50&h=50&format=webp, https://skyproxy.superkoders.rocks/frontendisti{{ talk.speaker.avatar }}?w=50&h=50&format=webp&d=2 2x" />
												<source type="image/jpeg" media="(min-width: 750px)" data-srcset="https://skyproxy.superkoders.rocks/frontendisti{{ talk.speaker.avatar }}?w=50&h=50, https://skyproxy.superkoders.rocks/frontendisti{{ talk.speaker.avatar }}?w=50&h=50&d=2 2x" />
												<source type="image/webp" data-srcset="https://skyproxy.superkoders.rocks/frontendisti{{ talk.speaker.avatar }}?w=100&h=100&format=webp, https://skyproxy.superkoders.rocks/frontendisti{{ talk.speaker.avatar }}?w=100&h=100&format=webp&d=2 2x" />
												<source type="image/jpeg" data-srcset="https://skyproxy.superkoders.rocks/frontendisti{{ talk.speaker.avatar }}?w=100&h=100, https://skyproxy.superkoders.rocks/frontendisti{{ talk.speaker.avatar }}?w=100&h=100&d=2 2x" />
												<img data-src="https://skyproxy.superkoders.rocks/frontendisti{{ talk.speaker.avatar }}?w=100&h=100" alt="{{ talk.speaker.name }}" />
											</picture>
											<noscript>
												<img src="https://skyproxy.superkoders.rocks/frontendisti{{ talk.speaker.avatar }}?w=100&h=100" alt="{{ talk.speaker.name }}" />
											</noscript>
										{% else %}
											<picture>
												<source type="image/webp" media="(min-width: 750px)" data-srcset="https://skyproxy.superkoders.rocks/frontendisti/img/illust/placeholder.jpg?w=50&h=50&format=webp, https://skyproxy.superkoders.rocks/frontendisti/img/illust/placeholder.jpg?w=50&h=50&format=webp&d=2 2x" />
												<source type="image/jpeg" media="(min-width: 750px)" data-srcset="https://skyproxy.superkoders.rocks/frontendisti/img/illust/placeholder.jpg?w=50&h=50, https://skyproxy.superkoders.rocks/frontendisti/img/illust/placeholder.jpg?w=50&h=50&d=2 2x" />
												<source type="image/webp" data-srcset="https://skyproxy.superkoders.rocks/frontendisti/img/illust/placeholder.jpg?w=100&h=100&format=webp, https://skyproxy.superkoders.rocks/frontendisti/img/illust/placeholder.jpg?w=100&h=100&format=webp&d=2 2x" />
												<source type="image/jpeg" data-srcset="https://skyproxy.superkoders.rocks/frontendisti/img/illust/placeholder.jpg?w=100&h=100, https://skyproxy.superkoders.rocks/frontendisti/img/illust/placeholder.jpg?w=100&h=100&d=2 2x" />
												<img data-src="https://skyproxy.superkoders.rocks/frontendisti/img/illust/placeholder.jpg?w=100&h=100" alt="Frontendisti.cz" />
											</picture>
											<noscript>
												<img src="https://skyproxy.superkoders.rocks/frontendisti/img/illust/placeholder.jpg?w=100&h=100" alt="Frontendisti.cz" />
											</noscript>
										{% endif %}
									</div>
									<p class="b-event__info">
										{% if talk.speaker.url %}
											<a href="{{ talk.speaker.url }}" class="b-event__name" target="_blank" rel="noopener noreferrer">
												{{ talk.speaker.name }}
											</a>
										{% else %}
											<span class="b-event__name">
												{{ talk.speaker.name }}
											</span>
										{% endif %}
										{% if talk.speaker.bio %}
											<span class="b-event__job">
												{{ talk.speaker.bio }}
											</span>
										{% endif %}
										{% if talk.title %}
											<span class="b-event__title">
												{{ talk.title }}
											</span>
										{% endif %}
									</p>
									<ul class="b-event__list">
										{% if talk.youtube %}
											<li class="b-event__item">
												<a href="{{ talk.youtube }}" class="b-event__link b-event__link--icon" target="_blank" rel="noopener noreferrer">
													{{ iconSVG('youtube', 'b-event__icon') }}
													video
												</a>
											</li>
											{% else %}
											<li class="b-event__item b-event__item--disabled">
												{{ iconSVG('youtube', 'b-event__icon') }}
												video
											</li>
										{% endif %}
										{% if talk.presentation %}
											<li class="b-event__item">
												<a href="{{ talk.presentation }}" class="b-event__link b-event__link--icon" target="_blank" rel="noopener noreferrer">
													{{ iconSVG('slideshare', 'b-event__icon') }}
													prezentace
												</a>
											</li>
										{% else %}
											<li class="b-event__item b-event__item--disabled">
												{{ iconSVG('slideshare', 'b-event__icon b-event__icon--disabled') }}
												prezentace
											</li>
										{% endif %}
									</ul>
								</article>
							</div>
						{% endfor %}
					</div>
					{% endif %}
					{% if meetup.youtubePlaylist %}
						<p class="b-event__btn">
							<a href="{{ meetup.youtubePlaylist }}" class="item-icon item-icon--before" target="_blank" rel="noopener noreferrer">
								{{ iconSVG('youtube') }}
								Všechny přednášky v&nbsp;playlistu
							</a>
						</p>
					{% endif %}
				</div>
			</div>
		</section>
	{% endif %}
{% endfor %}
