<section role="region" id="team" class="c-leaders u-pt-xl u-bt-gray">
	<div class="row-main">
		<div class="u-max-width--8-12 u-mx-auto u-mb-md">
			<h2>
				Organizační štáb
			</h2>
			<p>
				Hlavní a jediný je <a href="mailto:martin@vzhurudolu.cz">martin@vzhurudolu.cz</a> &#8209; ostatní mu jen koukají pod ruce a snaží se přiučit, ale i v Ostravě se snažíme být&nbsp;světoví!
			</p>
		</div>
		<div class="c-leaders__wrap u-mb-md">
			<div class="c-leaders__list grid grid--x-md grid--y-xl" id="contact">
				{% for item in leaders.items %}
					<div class="c-leaders__item grid__cell grid__cell--eq size--6-12@sm size--3-12@lg">
						<article role="article" class="b-card">
							<h3 class="b-card__title h2">
								{{ item.city | safe }}
							</h3>
							<ul class="b-card__list">
								<li class="b-card__item b-card__item--main">
									<span class="b-card__img">
										<img src="{{ assets.images }}illust/{{ item.img }}.jpg" alt="Profilová fotografie - {{ item.name }}" width="150" height="150">
										{% if loop.first %}
											<span class="b-card__badge">
												{{ iconSVG('crown') }}
											</span>
										{% endif %}
									</span>
									<span class="b-card__name">
										{{ item.name | safe }}
									</span>
									<a href="mailto:{{ item.mail }}" class="b-card__info">
										{{ item.mail | safe }}
									</a>
								</li>
								{% for sidekick in item.others %}
									<li class="b-card__item">
										{{ sidekick.name | safe }}
									</li>
								{% endfor %}
							</ul>
						</article>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="c-others u-mb-xl">
			<div class="u-mb-md u-mt-lg">
				<h3 class="c-others__title h2">
					Další spolupracovníci
				</h3>
			</div>
			<ul class="c-others__list grid grid--center">
				<li class="c-others__item grid__cell size--auto size--4-12@md">
					<span class="b-card b-card--horizontal">
						<span class="b-card__img">
							<img src="{{ assets.images }}illust/forejt.jpg" alt="Profilová fotografie - Jan Forejt" width="65" height="65">
						</span>
						<span class="b-card__name">
							Jan Forejt
						</span>
						<span class="b-card__info">
							videa z akcí
						</span>
					</span>
				</li>
				<li class="c-others__item grid__cell size--auto size--4-12@md">
					<span class="b-card b-card--horizontal">
						<span class="b-card__img">
							<img src="{{ assets.images }}illust/pokorny.jpg" alt="Profilová fotografie - Robin Pokorný" width="65" height="65">
						</span>
						<span class="b-card__name">
							Robin Pokorný
						</span>
						<span class="b-card__info">
							spoluzakladatel
						</span>
					</span>
				</li>
			</ul>
		</div>
	</div>
</section>
