<h2 class="u-vhide">
	Zastřešujeme
</h2>
<section role="region" class="c-socials u-mb-xl">
	<div class="c-socials__list grid grid--y-lg grid--center">
		{% for item in socials.items %}
			<div class="c-socials__item grid__cell size--6-12@sm size--4-12@md">
				<article role="article" class="b-social">
					{{ iconSVG(item.icon, 'b-social__icon') }}
					<h3 class="b-social__title h2">
						<a href="{{ item.href }}" class="b-social__link link-mask u-text-nodecor">
							{{ item.title | safe }}
						</a>
					</h3>
					<p>
						{{ item.perex | safe | nl2br }}
					</p>
				</article>
			</div>
		{% endfor %}
	</div>
</sec>
