<div class="b-partners u-mb-lg">
	<div class="u-max-width--lg u-mx-auto u-mb-md">
		<h2>
			Partneři
		</h2>
		<p>
			Několik slov k možnostem partnerství, odkaz na PDF, případně co si Martin napíše. Jsme úplně boží, takže se moc moc chcete stát partnerem - fakt!
		</p>
	</div>
	<div class="b-partners__list grid grid--x-md grid--middle">
		{% for item in partners.items %}
			<div class="b-partners__item grid__cell size--auto">
				<img src="{{ assets.images }}/logos/{{ item.name }}.jpg" alt="{{ item.name }}" width="{{ item.width }}" height="{{ item.height }}">
			</div>
		{% endfor %}
	</div>
	<p>
		Pokud vás zajímá možnost sponzorství Frontendisti.cz, pište Martinu Michálkovi na <a href="mailto:martin@vzhurudolu.cz">martin@vzhurudolu.cz</a>.
	</p>
</div>
