%inp {
	display: block;
	border: 1px solid $colorBd;
	padding: 8px 15px;
	background-color: $colorWhite;
	color: $colorText;
	font-size: 1rem;
	line-height: 20px;
	width: 100%;
	border-radius: 4px;
	appearance: none;
	transition: background-color $t, border-color $t;

	// STATEs
	&:disabled {
		background-color: $colorBg;
	}
	&:focus {
		box-shadow: inset 0 0 2px 0 rgba($colorSecondary, 1);
		outline: none;
	}
	[data-whatintent="keyboard"] &:focus {
		outline: 2px solid $colorSecondary;
		outline-offset: 2px;
	}
	.has-error & {
		border-color: $colorRed;
	}
}
