%inp {
	display: block;
	width: 100%;
	padding: 15px 20px;
	border: none;
	border-radius: 0;
	background-color: $colorWhite;
	color: $colorText;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	transition: box-shadow $t, border-color $t;
	appearance: none;

	// STATEs
	&:disabled {
		background-color: $colorBg;
	}
	&:focus {
		border-color: $colorText;
		outline: none;
	}
	.has-error & {
		border-color: $colorRed;
	}

	// MQs
	@media ($lgUp) {
		padding: 20px 30px;
		font-size: 16px;
		line-height: 40px;
	}
}
