.btn {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	border: 0;
	outline: none;
	background: none;
	text-decoration: none;
	cursor: pointer;
	&__text {
		position: relative;
		display: block;
		border: 1px solid transparent;
		border-radius: 4px;
		padding: 9px 20px 11px;
		font-size: 1rem;
		line-height: 20px;
		background-color: $colorSecondary;
		color: $colorPrimary;
		text-decoration: none;
		text-align: center;
		transition: background-color $t, border-color $t, color $t;
	}

	// VARIANTS
	&--loader &__text::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 26px;
		height: 26px;
		margin: -13px 0 0 -13px;
		border: 4px solid #fff;
		border-radius: 50%;
		border-top-color: transparent;
		opacity: 0;
		transition: opacity 0.3s;
	}

	// STATEs
	&--loader.is-loading {
		pointer-events: none;
	}
	&--loader.is-loading &__text {
		text-indent: -5000px;
	}
	&--loader.is-loading &__text::before {
		animation: rotate 0.8s infinite linear;
		opacity: 1;
	}
	.u-bg-inverse & {
		&__text {
			color: #fff;
		}
	}
	&:disabled,
	&.is-disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	// HOVERs
	[data-whatintent="keyboard"] &:focus &__text {
		outline: 2px solid $colorSecondary;
		outline-offset: 2px;
	}
	.no-touchevents &:hover &__text {
		background-color: darken($colorLink, 5%);
		color: #fff;
	}
	.no-touchevents .u-bg-inverse &:hover &__text {
		color: $colorPrimary;
	}
}
