.btn {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	border: 0;
	background: none;
	text-decoration: none;
	cursor: pointer;
	&__inner {
		position: relative;
		display: block;
		padding: 13px 28px 9px;
		border-radius: 17px;
		background-color: $colorPrimary;
		color: $colorWhite;
		font-size: 10px;
		letter-spacing: 0.15em;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		transition: background-color $t, border-color $t, color $t;
		box-shadow: 0 8px 30px 0 rgba($colorPrimary, 0.4);
	}

	// VARIANTs
	&--cta &__inner {
		background-color: $colorRed;
		color: $colorWhite;
		box-shadow: 0 10px 20px 0 rgba($colorRed, 0.4);
	}
	&--success &__inner {
		background-color: $colorGreen;
		box-shadow: 0 8px 30px 0 rgba($colorGreen, 0.4);
	}
	&--danger &__inner {
		background-color: $colorRed;
		box-shadow: 0 8px 30px 0 rgba($colorRed, 0.4);
	}
	&--blue &__inner {
		background-color: $colorBlue;
		box-shadow: 0 8px 30px 0 rgba($colorBlue, 0.4);
	}
	&--loader &__inner {
		min-width: 220px;
		overflow: hidden;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 26px;
			height: 26px;
			margin: -13px 0 0 -13px;
			border: 4px solid #ffffff;
			border-radius: 50%;
			border-top-color: transparent;
			opacity: 0;
			transition: opacity $t linear 0s;
		}
	}

	// STATEs
	&:disabled,
	&.is-disabled {
		opacity: 0.5;
		pointer-events: none;
	}
	&--loader.is-loading {
		pointer-events: none;
	}
	&--loader.is-loading &__inner {
		text-indent: -5000px;
	}
	&--loader.is-loading &__inner::before {
		opacity: 1;
		animation: rotate 0.8s infinite linear;
	}
	&--sm &__inner {
		font-size: 8px;
	}

	// HOVERs
	[data-whatintent="keyboard"] &:focus &__inner {
		// outline: 2px solid $colorSecondary;
		// outline-offset: 2px;
	}
	.hoverevents &:hover &__inner {
		background-color: $colorHover;
		color: $colorWhite;
	}
	.hoverevents &--success:hover &__inner {
		background-color: $colorGreenHover;
	}
	.hoverevents &--blue:hover &__inner {
		background-color: $colorBlueHover;
	}
	.hoverevents &--cta:hover &__inner,
	.hoverevents &--danger:hover &__inner {
		background-color: $colorRedHover;
	}

	// MQs
	@media ($lgUp) {
		&__inner {
			font-size: 12px;
			border-radius: 20px;
		}
		&--sm &__inner {
			font-size: 10px;
		}
	}
}
