<form method="post" action="https://m1.mail-komplet.cz/m/?action=subscribe&amp;data=A%2bb2h87iJvXKXVRpIEKCAnKo3R4K2EXyVNtvGs5kubCfaH%2f4h%2fw%2fZg%3d%3d" target="_blank" onsubmit="try {return window.confirm(&quot;Tento formulář nemusí správně fungovat kvůli jistým bezpečnostním omezením.\nPokračovat?&quot;);} catch (e) {return false;}" class="f-newsletter u-mb-md">
	<input type="hidden" name="guid_mailing_list" value="57cd5588-4439-40ea-9f42-061d32322a33;">
	<p class="f-newsletter__title">
		Chcete se pravidelně dozvídat o novinkách? Objednejte si zasílání informačních e-mailů.
	</p>
	<p>
		<span class="inp-fix">
			<label for="email" class="inp-label">
				Váš e-mail
			</label>
			<input type="email" name="email" id="email" class="f-newsletter__inp inp-text" required>
		</span>
	</p>
	<p class="u-text-center">
		<button type="submit" name="subscribe" class="f-newsletter__btn btn">
			<span class="btn__text">
				Přihlásit odběr
			</span>
		</button>
	</p>
</form>