<form method="post" action="https://m1.mail-komplet.cz/m/?action=subscribe&amp;data=A%2bb2h87iJvXKXVRpIEKCAnKo3R4K2EXyVNtvGs5kubCfaH%2f4h%2fw%2fZg%3d%3d" target="_blank" onsubmit="try {return window.confirm(&quot;Tento formulář nemusí správně fungovat kvůli jistým bezpečnostním omezením.\nPokračovat?&quot;);} catch (e) {return false;}" class="f-newsletter-footer u-mb-md">
	<input type="hidden" name="guid_mailing_list" value="57cd5588-4439-40ea-9f42-061d32322a33;">
	<p>
		<label for="email" class="inp-label u-vhide">
			Váš e-mail
		</label>
		<span class="inp-fix inp-fix--row">
			<input type="email" name="email" id="email" class="f-newsletter-footer__inp inp-text">
			<button type="submit" name="subscribe" class="f-newsletter-footer__btn btn">
				<span class="btn__text">
					Přihlásit odběr
				</span>
			</button>
		</span>
	</p>
	<p class="inp-fix">
		<label class="inp-item inp-item--checkbox">
			<input class="inp-item__inp" type="checkbox" name="confirm" required>
			<span class="inp-item__text">Pro aktivaci zasílání informačních e-mailů potvrďte svůj souhlas zaškrtnutím tohoto políčka.</span>
		</label>
	</p>
</form>