<form
	method="POST"
	action="/api/subscribe"
	class="f-newsletter-footer u-mb-md"
	data-handle-submit
>
	<input type="hidden" name="guid_mailing_list" value="57cd5588-4439-40ea-9f42-061d32322a33;">
	<p class="u-font-md">
		Chceš se pravidelně dozvídat o novinkách? <br>
		Přihlaš se do <strong>{F}newsletteru</strong> a už ti žádná neuteče!
	</p>
	<p>
		<label for="email" class="inp-label u-vhide">
			Váš e-mail
		</label>
		<span class="inp-fix inp-fix--row">
			<input type="email" name="email" id="email" required class="f-newsletter-footer__inp inp-text">
			<button type="submit" name="subscribe" class="f-newsletter-footer__btn btn">
				<span class="btn__text">
					Přihlásit odběr
				</span>
			</button>
		</span>
	</p>
	<p>
		Odesláním souhlasíš se zasíláním newsletterů na zadaný e-mail
	</p>
</form>